<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="title" content="{% block contenttitle %}{% endblock %}">
<meta name="description" content="{% block description %}{% endblock %}">
<meta name="keywords" content="{% block keywords %}{% endblock %}">
<meta property="og:title" content="{% block ogtitle %}{% endblock %}">
<meta property="og:type" content="Website">
<meta property="og:url" content="{% block ogurl %}{% endblock %}">
<meta property="og:image" content="{% block ogimage %}{% endblock %}">
<meta property="og:site_name" content="{% block ogsitename %}{% endblock %}">
<meta property="fb:admins" content="Fb admins">
<meta property="og:description" content="{% block ogdescription %}{% endblock %}">
<link rel="icon" href="{{ rooturl }}assets/frontend/images/favicom.png" type="image/x-icon">
<title>{% block title %}{% endblock %}</title>
<base href="{{ rooturl }}" />

<link href="{{ rooturl }}assets/frontend/css/style.css" rel="stylesheet" type="text/css" />
<link href="{{ rooturl }}assets/frontend/css/colorbox.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ rooturl }}assets/frontend/js/jquery1.7.1.js"></script>
<script type="text/javascript" src="{{ rooturl }}assets/frontend/js/jquery.colorbox-min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<!-- Slick -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.0/slick.css"/>
<link rel="stylesheet" type="text/css" href="{{rooturl}}assets/frontend/css/slick-theme.css"/>
<script type="text/javascript" src="{{rooturl}}assets/frontend/js/slick.min.js"></script>





<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript">
    setTimeout(function(){var a=document.createElement("script");
    var b=document.getElementsByTagName("script")[0];
    a.src=document.location.protocol+"//cdn.reweb-corp.com/location.0.0.1.js?"+Math.floor(new Date().getTime()/3600000);
    a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>
</head>

<body class="home">

<!-- start header -->
<div class="header clearfix">
    <!-- start box -->
    <div class="box">
        <!-- start logo -->
        <div class="logo">
            <a href="{{rooturl}}" title="Metrorent"><img src="{{ rooturl }}assets/frontend/images/logo.png" alt="Metrorent" /></a>
        </div>
        <!-- end logo -->
        <!-- start header right -->
        <div class="header-right">
            <div class="translate clearfix">
                <div class="langs">
                <a href="{{ rooturl }}lang/pt-pt">PT</a> 
                | 
                <a href="{{ rooturl }}lang/en">EN</a> 
                </div>
            </div>
            <!-- start contact info -->
            <div class="contact-info clearfix">
                <strong>{{'contact-us'|trans|capitalize}}<samp>+351 229 551 051</samp><span>{{'business-hours'|trans}}</span></strong>
            </div>
            <!-- end contact info -->
            <!-- start navigation -->
            <div class="navigation">
                <ul>
                    <li><a href="{{ rooturl }}{{url_used_cars}}-{{url_complement}}" title="VIATURAS">{{'viaturas'|trans|upper}}</a></li>
                    {% for item in menu %}
                        {% if not item.secundary_menu %}
                            <li class="{{item.class}}"><a href="{{ rooturl }}{{item.url}}" class="{{item.class}}" title="{{item.keyword|trans|upper}}">{{item.keyword|trans|upper}}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <!-- end navigation -->
        </div>
        <!-- end header right -->
    </div>
    <!-- end box -->
</div>
<!-- end header -->
<!-- start container -->
    {% block content %}{% endblock %}
<!-- end container -->
<!-- start footer -->
<div class="footer clearfix">
    <!-- start box -->
    <div class="box">
        <!-- start footer left -->
        <div class="footer-left">
            <!-- start txtb -->
            <div class="txtb">
                <p>
                    <span>{{'metrorent-direitos'|trans}}</span> Senhora da Hora | Porto | Santa Maria da Feira • 
                </p>
            </div>
            <!-- end txtb -->
        </div>
        <!-- end footer left -->
        <!-- start footer right -->
        <div class="footer-right">
            <!-- start contact info -->
            <div class="contact-info clearfix">
                <strong>{{'contact-us'|trans|capitalize}}<samp>+351 229 551 051</samp><span>{{'business-hours'|trans}}</span></strong>
            </div>
            <!-- end contact info -->
        </div>
        <!-- end footer right-->
    </div>
    <!-- end box -->
</div>

<div id="politica" class="modal fade" title="Com o intuito de manter a privacidade e a segurança das informações dos usuários, adotamos as seguintes regras:" style="display:none;">
    <div class="modal-dialog">
            <div class="modal-body">
                <div class="container-fluid">
                    <p>Tratamos todas as informações dos usuários com a máxima confidencialidade.</p>

                    <p>Não divulgamos, sem prévia autorização, em hipótese nenhuma, informações pessoais e/ou o e-mail do usuário que se cadastrar em páginas que requerem preenchimento desses dados. </p>

                    <p>Não cedemos ou comercializamos, sob nenhuma forma, qualquer informação individual dos nossos usuários a terceiros. </p>

                    <p>Utilizamos as informações preenchidas (nome e e-mail) dos nossos usuários apenas para comunicação sobre o interesse nos nossos produtos e dúvidas em geral. </p>

                    <p>Para cancelamento do seu cadastro no nosso banco de dados, favor entre em contato connosco através do formulário principal. </p>

                    <p>Preservamos a identidade do usuário, mantendo sigilo enquanto este navega nas páginas do site. Para isso, o usuário deve comprometer-se a respeitar as normas de segurança acima, assim como as normas específicas de cada serviço.  </p>              
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="contato" class="modal fade" title="Recebemos seu contacto" style="display:none;">
    <div class="modal-dialog">
            <div class="modal-body">
                <div class="container-fluid">
                    <p>Agradecemos sua disponibilidade em contactar-nos. Em breve nossa equipa dará o devido retorno a sua solicitação.</p> 
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% if success|default(false) == true %}
    <script>
        $( "#contato" ).dialog({
          modal: true,
          height: 240,
          width: 510,
          buttons: {
            Ok: function() {
              $( this ).dialog( "close" );
            }
          }
        });
    </script>
{% endif %}
<script type="text/javascript" src="{{ rooturl }}assets/frontend/js/select.js"></script>
<script type="text/javascript" src="{{ rooturl }}assets/frontend/js/jquery.inputmask.bundle.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script>
    $(function(){

        $('input[name=phone]').inputmask('999 999 999 999')
        $('input[name=date]').datepicker();
        $('input[name=data]').datepicker();
        $('input[name=placa]').inputmask('aaa 9999')
        $('input.number').inputmask('9999999999')
        
        $("input[name=entrada]").inputmask("decimal",{
             radixPoint:",", 
             groupSeparator: ".", 
             digits: 2,
             autoGroup: true,
             prefix: 'R$ '
         });
                     
        var global = "";
        var inmodel = "";
        var mod = "";

        var url = window.location.host;

        $('.single-item-index').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 5000,
            dots:true,  
            infinite: true,
            arrows: false,
        }); 

        $('.slider.car').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 5000,
            dots:true,  
            infinite: true,
            arrows: false,
        });

        $('.slick-dots li').click(function(){
                slideIndex = $(this).index();
                $('.menu-slick ul li').removeClass( "slick-active" );
                $(this).addClass( "slick-active" );
                $( ".single-item-index" ).slick('slickGoTo', parseInt(slideIndex));
        });

         $('.subnav-cars .list').hide();
         $('.subnav-cars .list.active').show();

         $('.cars-home .car-content').hide();
        var car_active = $('.cars-home .subnav-cars a.active').attr("car");
        $('#'+car_active).show();


        $('.cars-home .tabnav li a').click(function(){
            var content = $(this).attr('content');
            $('.tabnav li a').removeClass('active');
            $(this).addClass('active');

            $('.subnav-cars .list').hide();
            $("#"+content).show();

            var car = $("#"+content+" ul li:first-child a").attr('car');
            $('.cars-home .subnav-cars a').removeClass('active');
            $("#"+content+" ul li:first-child a").addClass('active');

            var image = $("#"+content+" ul li:first-child a.active").attr('image');
            $('#imageDefault').attr('src', image);

            $('.cars-home .car-content').hide();
            $("#"+car).show();

            $('.'+content).slick({
                infinite: true,
                slidesToShow: 6,
                slidesToScroll: 1,
                prevArrow: $('#prev-'+content),
                nextArrow: $('#next-'+content) 
            }); 

         });

         $('.viaturas .tabnav li a').click(function(){
            var content = $(this).attr('content');
            //$('.tabnav li a').removeClass('active');
            //$(this).addClass('active');

            //$('.subnav-cars .list').hide();
            //$("#"+content).show();

            var car = $("#"+content+" li:first-child a").attr('href');
            
            if(content != 'do-mes-ul'){
                location.href = car;
            }else{
                location.href = "{{rooturl}}viaturas-em-senhora-da-hora-porto-santa-maria-da-feira"
            }
        }); 

        $('.passenger-ul').slick({
            infinite: true,
            slidesToShow: 8,
            slidesToScroll: 1,
            prevArrow: $('#prev-passenger-ul'),
            nextArrow: $('#next-passenger-ul') 
        }); 

        $('.comercial-ul').slick({
            infinite: true,
            slidesToShow: 8,
            slidesToScroll: 1,
            prevArrow: $('#prev-passenger-ul'),
            nextArrow: $('#next-passenger-ul') 
        });

        $('.cars-home .subnav-cars a').click(function(){
            var car = $(this).attr('car');
            $('.cars-home .subnav-cars a').removeClass('active');
            $(this).addClass('active');

            $("#moto").attr('value', $(this).attr('title'));
            $("#moto_link").attr('value', $(this).attr('link'));

            var image = $(this).attr('image');
            $('#imageDefault').attr('src', image);

            $('.cars-home .car-content').hide();
            $("#"+car).show();
         });

        

    }) 
    
    

    $('.linkpp').attr('href','javascript:void(0);');
    $('.linkpp').attr('data-toggle','modal');

    $('.linkpp').click(function() {    
        $( "#politica" ).dialog({
          modal: true,
          height: 470,
          width: 1250,
          buttons: {
            Ok: function() {
              $( this ).dialog( "close" );
            }
          }
        });
    });

    

    $( ".date" ).datepicker({
        numberOfMonths: 3,
        showButtonPanel: true,
        dateFormat: 'dd/mm/yy',
        dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
        dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
        dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
        monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
        monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
        nextText: 'Próximo',
        prevText: 'Anterior'
    });


    var startDate = new Date();
    $('.date').attr('value', startDate.getDate() + '/' + (startDate.getMonth() + 1) + '/' + startDate.getFullYear());

    function selectImage(url){
        $('#imageDefault').attr('src', url);
    }

    $( "#reserva-metrorent" ).append( "<input type='hidden' name='moto' id='moto' value=''/><input type='hidden' id='moto_link' name='moto_link' value=''/>");

    $("#moto").attr('value', $('.tab-content a.active').attr('title'));
    $("#moto_link").attr('value', $('.tab-content a.active').attr('link'));


    
</script>

</body>
</html>
