@font-face {
    font-family: 'corposregular';
    src: url('../fonts/corpo_s-webfont.eot');
    src: url('../fonts/corpo_s-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/corpo_s-webfont.woff2') format('woff2'),
         url('../fonts/corpo_s-webfont.woff') format('woff'),
         url('../fonts/corpo_s-webfont.ttf') format('truetype'),
         url('../fonts/corpo_s-webfont.svg#corposregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'corporate_a_condensedregular';
    src: url('../fonts/corporateacon-reg-webfont.eot');
    src: url('../fonts/corporateacon-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/corporateacon-reg-webfont.woff2') format('woff2'),
         url('../fonts/corporateacon-reg-webfont.woff') format('woff'),
         url('../fonts/corporateacon-reg-webfont.ttf') format('truetype'),
         url('../fonts/corporateacon-reg-webfont.svg#corporate_a_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'corposdemregular';
    src: url('../fonts/corposdem-webfont.eot');
    src: url('../fonts/corposdem-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/corposdem-webfont.woff2') format('woff2'),
         url('../fonts/corposdem-webfont.woff') format('woff'),
         url('../fonts/corposdem-webfont.ttf') format('truetype'),
         url('../fonts/corposdem-webfont.svg#corposdemregular') format('svg');
    font-weight: normal;
    font-style: normal;

}