/*.slick-initialized .slick-slide{
        display: none;
}

.slick-active{
        display: block !important;
}*/
.slick-track .slick-slide img{
        width: 100% !important;
        max-width: 100% !important;
        display: block;
    }
