{% extends "layout.html" %}
{% block title %}{{ 'title'|trans }}{% endblock %}
{% block content %}

<!-- start showcase -->
<div class="box-slide container-fluid" width="100%" style="margin:0 auto;">
    <div class="single-item-index" width="100%">
        {% for banner in banners.banners %}
            <div style="position:relative;">
                <img src="{{ banner.image }}" alt="{{ banner.title }}" width="100%" />
                <a href="{{ rooturl }}{{url_used_cars}}-{{url_complement}}" title="RESERVE AGORA" class="button"><span>{{'reserve-agora'|trans|upper}}</span></a>
            </div>
        {% endfor %}
    </div>
</div>

<!-- start container -->
<div class="container-fluid clearfix" style="margin-top: -30px;">
    <!-- start widget -->
    <div class="widget clearfix">
        <!-- start box -->
        <div class="box">
            <h2 class="heading">{{'vantagens'|trans|capitalize}}<span class="inline-edit" id="text-diferenciais-incluidos" data-keyword="diferenciais-incluidos">{{'diferenciais-incluidos'|trans|capitalize}}</span></h2>
            <ul class="clearfix">
                <li>
                    <div class="icon">
                        <a href="javascript:void(0);" title=""><img src="{{ rooturl }}assets/frontend/images/img_widget.png" alt="img" /></a>
                    </div>
                    <div class="inline-edit" id="text-assistencia-completa" data-keyword="assistencia-completa">{{'assistencia-completa'|trans|raw}}</div>
                </li>
                <li>
                    <div class="icon">
                        <a href="javascript:void(0);" title=""><img src="{{ rooturl }}assets/frontend/images/img_widget2.png" alt="img" /></a>
                    </div>
                    <div class="inline-edit" id="text-seguro-extra-exclusivo" data-keyword="seguro-extra-exclusivo">{{'seguro-extra-exclusivo'|trans|raw}}</div>
                </li>
                <li>
                    <div class="icon">
                        <a href="javascript:void(0);" title=""><img src="{{ rooturl }}assets/frontend/images/img_widget3.png" alt="img" /></a>
                    </div>
                    <div class="inline-edit" id="text-quilometragem-sem-limites-dias" data-keyword="quilometragem-sem-limites-dias">{{'quilometragem-sem-limites-dias'|trans|raw}}</div>
                </li>
            </ul>
            <a href="{{rooturl}}a-metrorent-{{url_complement}}" title="RESERVE AGORA" class="button"><span>{{'saiba-mais'|trans|upper}}</span></a>
        </div>
        <!-- end box -->
    </div>
    <!-- end widget -->
    <!-- start feature -->
    <div class="feature clearfix">
        <!-- start col -->
        
            <div class="col first">
                <img src="{{ rooturl }}assets/frontend/images/img_feature.jpg" alt="img" />
                <!-- start caption -->
                <div class="overlay">
                    <div class="caption alignright">
                        <div class="caption-in">
                            <h2 class="heading inline-edit" id="text-conforto" data-keyword="conforto">{{'conforto'|trans|raw}}</h2>
                        </div>
                    </div>
                </div>
                <!-- end caption -->
            </div>
        <!-- end col -->
        <!-- start col -->
        <div class="col second">
            <img src="{{ rooturl }}assets/frontend/images/img_feature2.jpg" alt="img" />
            <!-- start caption -->
            <div class="overlay">
                <div class="caption aligncenter">
                    <div class="caption-in">
                        <h2 class="heading inline-edit" id="text-exclusividade" data-keyword="exclusividade">{{'exclusividade'|trans|raw}}</h2>
                    </div>
                </div>
            </div>
            <!-- end caption -->
        </div>
        <!-- end col -->
        <!-- start col -->
        <div class="col third">
            <img src="{{ rooturl }}assets/frontend/images/img_feature3.jpg" alt="img" />
            <!-- start caption -->
            <div class="overlay">
                <div class="caption alignleft">
                    <div class="caption-in">
                        <h2 class="heading inline-edit" id="text-facilidade" data-keyword="facilidade">{{'facilidade'|trans|raw}}</h2>
                    </div>
                </div>
            </div>
            <!-- end caption -->
        </div>
        <!-- end col -->
    </div>
    <!-- end feature -->
    <!-- start leftcol -->
    <div class="leftcol">
        <!-- start product info -->
        <div class="product-info cars-home clearfix">
            <img id="imageDefault" src="http://integrador.reweb.com.br/upload/gallery/{{cars.highlight.gallery[0].file}}" alt="slider" width="100%"/>

            <!-- start overlay -->
            <div class="overlay">
                <!-- start tab -->
                <div class="tab clearfix box-height">
                    <!-- start tab nav -->
                    <div class="tabnav clearfix">
                        <ul>
                            <li><a class="active" href="javascript:void(0);" content="do-mes" title="{{'carro-do-mes'|trans|upper}}">{{'carro-do-mes'|trans|upper}}</a></li>
                            <li><a href="javascript:void(0);" content="passenger" title="{{'ligeiros-passageiros'|trans|upper}}">{{'ligeiros-passageiros'|trans|upper}}</a></li>
                            <li><a href="javascript:void(0);" content="comerciais" title="{{'comerciais-e-turismo'|trans|upper}}">{{'comerciais-e-turismo'|trans|upper}}</a></li>
                        </ul>
                    </div>
                    <!-- end tab nav -->
                    <!-- start tab content -->
                    <div class="tab-content subnav-cars clearfix">
                        <div id="do-mes" class="carro-do-mes list active clearfix">
                            <ul class="first">
                                   <li><a class="active" image="http://integrador.reweb.com.br/upload/gallery/{{cars.highlight.gallery[0].file}}" href="javascript:void(0);" car="{{cars.highlight.id}}" link="{{cars.highlight|used_url}}" title="{{cars.highlight.title|upper}}">{{cars.highlight.title|upper}}</a></li>
                            </ul>
                        </div>
                        <!-- start passenger cars -->
                        <div id="passenger" class="passenger-cars list clearfix">
                            <ul class="passenger" >
                                {% for car in cars.passenger %}
                                   <li><a href="javascript:void(0);" image="http://integrador.reweb.com.br/upload/gallery/{{car.file}}" car="{{car.id}}" link="{{car|used_url}}" title="{{car.title|upper}}">{{car.title|upper}}</a></li>
                                {% endfor %}
                            </ul>
                            {% if cars.passenger|length > 6 %}
                            <div class="metro-arrows">
                                <a id="prev-passenger" class="metro-prev" href="javascript:void(0)"></a><a id="next-passenger" class="metro-next" href="javascript:void(0)"></a>
                            </div>
                            <div class="left-tras"></div>
                            <div class="right-tras"></div>
                            {% endif %}
                        </div>
                        <!-- end passenger cars -->
                        <div id="comerciais" class="comerciais-cars list clearfix">
                            <ul class="comerciais">
                                {% for car in cars.comerciais %}
                                   <li><a image="http://integrador.reweb.com.br/upload/gallery/{{car.file}}" href="javascript:void(0);" car="{{car.id}}" link="{{car|used_url}}" title="{{car.title|upper}}">{{car.title|upper}}</a></li>
                                {% endfor %}
                            </ul>
                            {% if cars.comerciais|length > 6 %}
                            <div class="metro-arrows">
                                <a id="prev-comerciais" class="metro-prev3" href="javascript:void(0)"></a><a id="next-comerciais" class="metro-next3" href="javascript:void(0)"></a>
                            </div>
                            <div class="left-tras2"></div>
                            <div class="right-tras2"></div>
                            {% endif %}
                        </div>
                        
                    </div>
                    <!-- end tab content -->
                </div>
                <!-- end tab -->
                <!-- start txtb -->
                {% for car in cars.all %}
                    <div id="{{car.id}}" class="car-content txtb">
                        <div class="clearfix">
                            <span class="price">
                                {% if car.price == 0 %}
                                    <samp></samp><small> Sob consulta </small><samp></samp>
                                {% else %}
                                    <samp>{{'a-partir'|trans}}</samp>{{'moeda'|trans}} {{car.price}}<small> / 
                                    {{'dia'|trans}}*</small><samp>{{'iva-incluido'|trans}}</samp>
                                {% endif %}
                            </span>
                            <h3>{{car.title}}</h3>
                        </div>
                        <p>
                            {{car.description}}
                        </p>
                        <p>*{{'para-alugueres'|trans}}</p>
                        <h4>{{'opcionais'|trans|upper}}</h4>
                        <p style="margin-bottom:5px;line-height: 15px;">{{'em-termos'|trans}}:</p>
                        <ul>
                            <li>- {{'condutor-adicional'|trans}} </li>
                            <li>- {{'carrinho-de-bebe'|trans}} </li>
                            <li>- {{'entrega-e-recolha'|trans}}</li>
                            <li>- {{'sistema-de-navegacao'|trans}}</li>
                            <li>- {{'seguro-de-acidentes'|trans}}</li>
                            <li>- {{'isencao-de-franquia'|trans}} </li>
                        </ul>
                    </div>
                {% endfor %}
                <!-- end txtb -->
            </div>
            <!-- end overlay -->
        </div>
        <!-- end product info -->
    </div>
    <!-- end leftcol -->
    <!-- start rightcol -->
    <div class="rightcol">
        <!-- start fillform -->
        <div class="fillform home">
                <h4>{{'reserve-esta-viatura'|trans}}</h4>   
                {{'reserva-metrorent'|makeform|raw }}
                <small>*{{'required'|trans}}</small>
        </div>
        <!-- end fillform -->
    </div>
    <!-- end rightcol -->
</div>
<!-- end container -->
{% endblock %}