{% extends "layout.html" %}
{% block title %}{{ 'title'|trans }}{% endblock %}
{% block content %}

<!-- start container -->
<div class="container clearfix">
    <!-- start box -->
    <div class="box">
        <!-- start title bar -->
        <div class="title-bar clearfix">
            <!-- start breadcrumb -->
            <div class="breadcrumb clearfix">
                <ul>   
                    <li><a href="{{ rooturl }}" title="{{'inicio'|trans|capitalize}}">{{'inicio'|trans|capitalize}}</a></li>
                    <li>{{'viaturas'|trans|capitalize}}</li>
                </ul>
            </div>
            <!-- end breadcrumb -->
            <h3 class="heading2">{{'viaturas'|trans|capitalize}}</h3>
        </div>
        <!-- end title bar -->
    </div>
    <!-- end box -->
    <!-- start tab2 -->
    <div class="viaturas tab2 clearfix">
        <!-- start box -->
        <div class="box">
            <!-- start tabnav -->
            <div class="tabnav clearfix">
                <ul>
                    <li>
                        <a href="javascript:void(0);" content="do-mes-ul" class="{% if car.data.tag == 'CARRO DO MÊS'%}active{%endif%}" title="{{'carro-do-mes'|trans|upper}}">{{'carro-do-mes'|trans|upper}}</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" content="passenger-ul" class="{% if car.data.tag == 'LIGEIROS DE PASSAGEIROS'%}active{%endif%}" title="{{'ligeiros-passageiros'|trans|upper}}">{{'ligeiros-passageiros'|trans|upper}}</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" content="comercial-ul" class="{% if car.data.tag == 'COMERCIAIS E TURISMO'%}active{%endif%}" title="{{'comerciais-e-turismo'|trans|upper}}">{{'comerciais-e-turismo'|trans|upper}}</a>
                    </li>
                </ul>
            </div>
            <!-- end tabnav -->
            <!-- start subnav -->
                <div class="subnav subnav-cars clearfix">
                    <div id="do-mes-ul" class="list {% if car.data.tag == 'CARRO DO MÊS'%}active{%endif%}">
                        <ul>
                            <li><a href="{{cars.highlight|used_url}}" class="{% if car.data.id == cars.highlight.id%}active{%endif%}" link="{{cars.highlight|used_url}}" title="{{cars.highlight.title|upper}}">{{cars.highlight.title|upper}}</a></li>
                        </ul>
                    </div>                   
                    <div id="passenger-ul" class="list {% if car.data.tag == 'LIGEIROS DE PASSAGEIROS'%}active{%endif%}">
                        <ul class="passenger-ul">
                            {% for car_p in cars.passenger %}
                               <li><a href="{{car_p|used_url}}" link="{{car_p|used_url}}" class="{% if car.data.id == car_p.id%}active{%endif%}" title="{{car_p.title|upper}}">
								{% if lang == "en-US" %}
									{% if car_p.title == "Classe A" %}A-CLASS{% endif %}
									{% if car_p.title == "Classe B" %}B-CLASS{% endif %}
									{% if car_p.title == "Classe C" %}C-CLASS{% endif %}
									{% if car_p.title == "Classe C Station" %}C-CLASS Estate{% endif %}
									{% if car_p.title == "Classe E" %}E-CLASS{% endif %}
									{% if car_p.title == "Classe E Station" %}E-CLASS Estate{% endif %}
									{% if car_p.title == "Classe GLA" %}GLA-CLASS{% endif %}
									{% if car_p.title == "Classe CLA" %}CLA-CLASS{% endif %}
									{% if car_p.title == "Smart Fortwo" %}{{car_p.title|upper}}{% endif %}
									{% if car_p.title == "Smart Forfour" %}{{car_p.title|upper}}{% endif %}
								{% else %}
									{{car_p.title|upper}}
								{% endif %}
							   </a></li>
                            {% endfor %}
                        </ul>
                        {% if cars.passenger|length > 7 %}
                            <div class="metro-arrows">
                                <a id="prev-passenger-ul" class="metro-prev2" href="javascript:void(0);"></a><a id="next-passenger-ul" class="metro-next2" href="javascript:void(0);"></a>
                            </div>
                            <div class="left-tras3"></div>
                            <div class="right-tras3"></div>
                        {% endif %}
                    </div>
                    <div id="comercial-ul" class="list {% if car.data.tag == 'COMERCIAIS E TURISMO'%}active{%endif%}">
                        <ul class="comercial-ul">
                            {% for car_c in cars.comerciais %}
                               <li><a href="{{car_c|used_url}}"  link="{{car_c|used_url}}" class="{% if car.data.id == car_c.id%}active{%endif%}" title="{{car_c.title|upper}}">
								{% if lang == "en-US" %}
									{% if car_c.title == "Citan" %}{{car_c.title|upper}}{% endif %}
									{% if car_c.title == "Citan" %}{{car_c.title|upper}}{% endif %}
									{% if car_c.title == "Viano" %}{{car_c.title|upper}}{% endif %}
									{% if car_c.title == "Vito" %}{{car_c.title|upper}}{% endif %}
									{% if car_c.title == "Sprinter" %}{{car_c.title|upper}}{% endif %}
									{% if car_c.title == "Vito (Turismo)" %}VITO (TOURISM){% endif %}
								{% else %}
									{{car_c.title|upper}}
								{% endif %}
							   </a></li>
                            {% endfor %}
                        </ul>
                        {% if cars.comerciais|length > 7 %}
                            <div class="metro-arrows">
                                <a id="prev-comercial-ul" class="metro-prev2" href="javascript:void(0);"></a><a id="next-comercial-ul" class="metro-next2" href="javascript:void(0);"></a>
                            </div>
                            <div class="left-tras4"></div>
                            <div class="right-tras4"></div>
                        {% endif %}    
                    </div>
                </div>
                <!-- end subnav -->
        </div>
        <!-- end box -->
        <!-- start tab content -->
        <div class="tab-content clearfix">
            <!-- start leftcol -->
            <div class="leftcol">
                <!-- start slider -->
                <div class="slider car" width:"899px !important">
                    {% for image in car.data.gallery %}
                        <div class="slide">
                            <img src="http://integrador.reweb.com.br/upload/gallery/{{image.file}}" width:"899px"/>
                        </div>
                    {% endfor %}
                </div>
                <!-- end slider -->
                <!-- start product info2 -->
                <div class="product-info2 clearfix">
                    <div class="clearfix">
                        <span class="price">
                            {% if car.data.price == 0 %}
                                <samp></samp><small> {{'sob-consulta'|trans}} </small><samp></samp>
                            {% else %}
                                <samp>{{'a-partir'|trans}}</samp>{{'moeda'|trans}} {{car.data.price}}<small> / {{'dia'|trans}}*</small><samp>{{'iva-incluido'|trans}}</samp>
                            {% endif %}
                        </span>
                        <h3>
						{% if lang == "en-US" %}
							{% if car.data.title == "Classe A" %}A-CLASS{% endif %}
							{% if car.data.title == "Classe B" %}B-CLASS{% endif %}
							{% if car.data.title == "Classe C" %}C-CLASS{% endif %}
							{% if car.data.title == "Classe C Station" %}C-CLASS Estate{% endif %}
							{% if car.data.title == "Classe E" %}E-CLASS{% endif %}
							{% if car.data.title == "Classe E Station" %}E-CLASS Estate{% endif %}
							{% if car.data.title == "Classe GLA" %}GLA-CLASS{% endif %}
							{% if car.data.title == "Classe CLA" %}CLA-CLASS{% endif %}
							{% if car.data.title == "Smart Fortwo" %}{{car_p.title|upper}}{% endif %}
							{% if car.data.title == "Smart Forfour" %}{{car_p.title|upper}}{% endif %}
							{% if car.data.title == "Citan" %}{{car.data.title|upper}}{% endif %}
							{% if car.data.title == "Citan" %}{{car.data.title|upper}}{% endif %}
							{% if car.data.title == "Viano" %}{{car.data.title|upper}}{% endif %}
							{% if car.data.title == "Vito" %}{{car.data.title|upper}}{% endif %}
							{% if car.data.title == "Sprinter" %}{{car.data.title|upper}}{% endif %}
							{% if car.data.title == "Vito (Turismo)" %}VITO (TOURISM){% endif %}
						{% else %}
							{{car.data.title|upper}}
						{% endif %}
						</h3>
                    </div>
                    <p>{{car.data.description}}</p>
                    <p>*{{'para-alugueres'|trans}}</p>

                    <!-- start row -->
                    <div class="inline-edit black" id="text-servicos-incluidos{{car.data.id}}" data-keyword="servicos-incluidos">{{'servicos-incluidos'|trans|raw}}</div>
                    
                    <!-- end row -->
                </div>
                <!-- end product info2 -->
            </div>
            <!-- end leftcol -->
            <!-- start rightcol -->
            <div class="rightcol">
                <!-- start fillform -->
                <div class="fillform">
                    <h4>{{'reserve-esta-viatura'|trans}}</h4>   
                    {{'reserva-metrorent'|makeform|raw }}
                    <small style="padding-top:10px;">*{{'required'|trans}}</small>
                </div>
                <!-- end fillform -->
            </div>
            <!-- end rightcol -->
        </div>
        <!-- end tab content -->
    </div>
    <!-- end tab2 -->
</div>
<!-- end container -->
{% endblock %}