{% extends "layout.html" %}
{% block title %}{{ 'Metrorent | Rent-a-car'|trans }}{% endblock %}
{% block description %}Alugue o seu automóvel na Metrorent, no Porto ou S. M. Feira. Aproveite as nossas ofertas e descontos. Reserve já! {% endblock %}
{% block content %}

<!-- start showcase -->
<div class="row">
<div class="col-md-12 col-xs-12">
<div class="box-slide container-fluid" width="100%" style="margin:0 auto;">
    <div class="single-item-index" width="100%">
        {% for banner in banners.banners %}
            <div style="position:relative;">
                <a href="{{banner.link}}" > <img src="{{ banner.image }}" alt="{{ banner.title }}" width="100%" /></a>
                <a href="{{banner.link}}" title="RESERVE AGORA" class="button"><span>{{'reserve-agora'|trans|upper}}</span></a>
            </div>
        {% endfor %}
    </div>
</div>
</div>
</div>
 
<!-- start container -->

<div class="container-fluid clearfix form-white" style="margin-top: -30px;">
    <!-- start widget -->
    <div class="row">
<div class="col-md-12 col-xs-12">
    <div class="widget clearfix">
        <!-- start box -->
        <div class="box-home">
           <div class="col-md-12 col-xs-12">
               <h2 class="heading">{{'vantagens'|trans|capitalize}}<span class="inline-edit" id="text-diferenciais-incluidos" data-keyword="diferenciais-incluidos">{{'diferenciais-incluidos'|trans|capitalize}}</span></h2></div>

            <ul class="clearfix">
               <div class="col-lg-12 col-xs-12">
                <li>
                    <div class="icon">
                        <a href="javascript:void(0);" title=""><img src="{{ rooturl }}assets/frontend/images/img_widget.png" alt="img" /></a>
                    </div>
                    <div class="inline-edit" id="text-assistencia-completa" data-keyword="assistencia-completa"><p>{{'assistencia-completa'|trans|raw}}</p></div>

                </li>
              
                <li>
                    <div class="icon">
                        <a href="javascript:void(0);" title=""><img src="{{ rooturl }}assets/frontend/images/img_widget2.png" alt="img" /></a>
                    </div>
                    <div class="inline-edit" id="text-seguro-extra-exclusivo" data-keyword="seguro-extra-exclusivo"><p>{{'seguro-extra-exclusivo'|trans|raw}}</p></div>

                </li>
                
                <li>
                    <div class="icon">
                        <a href="javascript:void(0);" title=""><img src="{{ rooturl }}assets/frontend/images/img_widget3.png" alt="img" /></a>
                    </div>
                    <div class="inline-edit" id="text-quilometragem-sem-limites-dias" data-keyword="quilometragem-sem-limites-dias"><p>{{'quilometragem-sem-limites-dias'|trans|raw}}</p></div>
                </li>
                </div>
            </ul>
            <a href="{{rooturl}}a-metrorent-{{url_complement}}" title="RESERVE AGORA" class="botao-index button"><span>{{'saiba-mais'|trans|upper}}</span></a>
        </div>
        <!-- end box -->
    </div>
    </div>
</div>
    <!-- end widget -->
    <!-- start feature -->

    <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="feature clearfix">
        <!-- start col -->
            
            <div class="col-lg-4 col-xs-12">
            <div class="col first">
                <img src="{{ rooturl }}assets/frontend/images/img_feature.jpg" alt="img" />
                <!-- start caption -->
                <div class="overlay">
                    <div class="caption alignright">
                        <div class="caption-in">
                            <h2 class="heading inline-edit" id="text-conforto" data-keyword="conforto">{{'conforto'|trans|raw}}</h2>
                        </div>
                    </div>
                </div>
                <!-- end caption -->
            </div>
            </div>
        <!-- end col -->
        <!-- start col --><div class="col-lg-4 col-xs-12">
        <div class="col second">
            <img src="{{ rooturl }}assets/frontend/images/img_feature2.jpg" alt="img" />
            <!-- start caption -->
            <div class="overlay">
                <div class="caption aligncenter">
                    <div class="caption-in">
                        <h2 class="heading inline-edit" id="text-exclusividade" data-keyword="exclusividade">{{'exclusividade'|trans|raw}}</h2>
                    </div>
                </div>
            </div>
            </div>
            <!-- end caption -->
        </div>
        <!-- end col -->
        <!-- start col -->
        <div class="col-lg-4 col-xs-12">
        <div class="col third">
            <img src="{{ rooturl }}assets/frontend/images/img_feature3.jpg" alt="img" />
            <!-- start caption -->
            <div class="overlay">
                <div class="caption alignleft">
                    <div class="caption-in">
                        <h2 class="heading inline-edit" id="text-facilidade" data-keyword="facilidade">{{'facilidade'|trans|raw}}</h2>
                    </div>
                </div>
            </div>
            <!-- end caption -->
        </div>
        </div>
        <!-- end col -->
    </div>
    </div>
    </div>
    
    <!-- end feature -->
    <!-- start leftcol -->
    <div class="col-lg-8 col-md-12 col-xs-12 col-sm-12 padding-cinza">
    <div class="col-lg-12 col-md-12">
        <!-- start product info -->
        <div class="product-info cars-home clearfix">
            <img id="imageDefault" src="http://integrador.reweb.com.br/upload/gallery/{{cars.highlight.gallery[0].file}}" alt="slider" width="100%"/>

            <!-- start overlay -->
            <div class="overlay">
                <!-- start tab -->
                <div class="tab clearfix box-height">
                    <!-- start tab nav -->
                    <div class="tabnav clearfix">
                        <ul>
                            <li><a class="active" href="javascript:void(0);" content="do-mes" title="{{'carro-do-mes'|trans|upper}}">{{'carro-do-mes'|trans|upper}}</a></li>
                            <li><a href="javascript:void(0);" content="passenger" title="{{'ligeiros-passageiros'|trans|upper}}">{{'ligeiros-passageiros'|trans|upper}}</a></li>
                            <li><a href="javascript:void(0);" content="comerciais" title="{{'comerciais-e-turismo'|trans|upper}}">{{'comerciais-e-turismo'|trans|upper}}</a></li>
                        </ul>
                    </div>
                    <!-- end tab nav -->
                    <!-- start tab content -->
                    <div class="tab-content subnav-cars cars-list clearfix">
                        <div id="do-mes" class="carro-do-mes list active clearfix">
                            <ul class="first">
                                   <li><a class="active" image="http://integrador.reweb.com.br/upload/gallery/{{cars.highlight.gallery[0].file}}" href="javascript:void(0);" car="{{cars.highlight.id}}" link="{{cars.highlight|used_url}}" title="{{cars.highlight.title|upper}}">
									   {% if lang == "en-US" %}
											{% if cars.highlight.title == "Classe A" %}A-CLASS{% endif %}
											{% if cars.highlight.title == "Classe B" %}B-CLASS{% endif %}
											{% if cars.highlight.title == "Classe C" %}C-CLASS{% endif %}
											{% if cars.highlight.title == "Classe C Station" %}C-CLASS Estate{% endif %}
											{% if cars.highlight.title == "Classe E" %}E-CLASS{% endif %}
											{% if cars.highlight.title == "Classe E Station" %}E-CLASS Estate{% endif %}
											{% if cars.highlight.title == "Classe GLA" %}GLA-CLASS{% endif %}
											{% if cars.highlight.title == "Classe CLA" %}CLA-CLASS{% endif %}
											{% if cars.highlight.title == "Smart Fortwo" %}{{cars.highlight.title|upper}}{% endif %}
											{% if cars.highlight.title == "Smart Forfour" %}{{cars.highlight.title|upper}}{% endif %}
											{% if cars.highlight.title == "Citan" %}{{cars.highlight.title|upper}}{% endif %}
											{% if cars.highlight.title == "Viano" %}{{cars.highlight.title|upper}}{% endif %}
											{% if cars.highlight.title == "Vito" %}{{cars.highlight.title|upper}}{% endif %}
											{% if cars.highlight.title == "Sprinter" %}{{cars.highlight.title|upper}}{% endif %}
											{% if cars.highlight.title == "Vito (Turismo)" %}VITO (TOURISM){% endif %}
										{% else %}	
											{{cars.highlight.title|upper}}
										{% endif %}	
								   </a></li>
                            </ul>
                        </div>
                        <!-- start passenger cars -->
                        <div id="passenger" class="passenger-cars list clearfix">
                            <ul class="passenger" >
                                {% for car in cars.passenger %}
                                   <li><a href="javascript:void(0);" image="http://integrador.reweb.com.br/upload/gallery/{{car.file}}" car="{{car.id}}" link="{{car|used_url}}" title="{{car.title|upper}}">
									{% if lang == "en-US" %}
										{% if car.title == "Classe A" %}A-CLASS{% endif %}
										{% if car.title == "Classe B" %}B-CLASS{% endif %}
										{% if car.title == "Classe C" %}C-CLASS{% endif %}
										{% if car.title == "Classe C Station" %}C-CLASS Estate{% endif %}
										{% if car.title == "Classe E" %}E-CLASS{% endif %}
										{% if car.title == "Classe E Station" %}E-CLASS Estate{% endif %}
										{% if car.title == "Classe GLA" %}GLA-CLASS{% endif %}
										{% if car.title == "Classe CLA" %}CLA-CLASS{% endif %}
										{% if car.title == "Smart Fortwo" %}{{car.title|upper}}{% endif %}
										{% if car.title == "Smart Forfour" %}{{car.title|upper}}{% endif %}
									{% else %}
										{{car.title|upper}}
									{% endif %}
								   </a></li>
                                {% endfor %}
                            </ul>
                            {% if cars.passenger|length > 1 %}
                            <div class="metro-arrows">
                                <a id="prev-passenger" class="metro-prev" href="javascript:void(0)"></a><a id="next-passenger" class="metro-next" href="javascript:void(0)"></a>
                            </div>
                            {% endif %}
                        </div>
                        <!-- end passenger cars -->
                        <div id="comerciais" class="comerciais-cars list clearfix">
                            <ul class="comerciais">
                                {% for car in cars.comerciais %}
                                   <li><a image="http://integrador.reweb.com.br/upload/gallery/{{car.file}}" href="javascript:void(0);" car="{{car.id}}" link="{{car|used_url}}" title="{{car.title|upper}}">
								   {% if lang == "en-US" %}
										{% if car.title == "Citan" %}{{car.title|upper}}{% endif %}
										{% if car.title == "Viano" %}{{car.title|upper}}{% endif %}
										{% if car.title == "Vito" %}{{car.title|upper}}{% endif %}
										{% if car.title == "Sprinter" %}{{car.title|upper}}{% endif %}
										{% if car.title == "Vito (Turismo)" %}VITO (TOURISM){% endif %}
									{% else %}
										{{car.title|upper}}
									{% endif %}
								   </a></li>
                                {% endfor %}
                            </ul>
                            {% if cars.comerciais|length > 1 %}
                            <div class="metro-arrows">
                                <a id="prev-comerciais" class="metro-prev3" href="javascript:void(0)"></a><a id="next-comerciais" class="metro-next3" href="javascript:void(0)"></a>
                            </div>

                            {% endif %}
                        </div>
                        
                    </div>
                    <!-- end tab content -->
                </div>
                <!-- end tab -->
                <!-- start txtb -->
                {% for car in cars.all %}
                    <div id="{{car.id}}" class="car-content txtb">
                        <div class="clearfix">
                            <span class="price">
                                {% if car.price == 0 %}
                                    <samp></samp><small> {{'sob-consulta'|trans}} </small><samp></samp>
                                {% else %}
                                    <samp>{{'a-partir'|trans}}</samp>{{'moeda'|trans}} {{car.price}}<small> / 
                                    {{'dia'|trans}}*</small><samp>{{'iva-incluido'|trans}}</samp>
                                {% endif %}
                            </span>
                            <h3>
							 {% if lang == "en-US" %}
								{% if car.title == "Classe A" %}A-CLASS{% endif %}
								{% if car.title == "Classe B" %}B-CLASS{% endif %}
								{% if car.title == "Classe C" %}C-CLASS{% endif %}
								{% if car.title == "Classe C Station" %}C-CLASS Estate{% endif %}
								{% if car.title == "Classe E" %}E-CLASS{% endif %}
								{% if car.title == "Classe E Station" %}E-CLASS Estate{% endif %}
								{% if car.title == "Classe GLA" %}GLA-CLASS{% endif %}
								{% if car.title == "Classe CLA" %}CLA-CLASS{% endif %}
								{% if car.title == "Smart Fortwo" %}{{car.title|upper}}{% endif %}
								{% if car.title == "Smart Forfour" %}{{car.title|upper}}{% endif %}
								{% if car.title == "Citan" %}{{car.title|upper}}{% endif %}
								{% if car.title == "Viano" %}{{car.title|upper}}{% endif %}
								{% if car.title == "Vito" %}{{car.title|upper}}{% endif %}
								{% if car.title == "Sprinter" %}{{car.title|upper}}{% endif %}
								{% if car.title == "Vito (Turismo)" %}VITO (TOURISM){% endif %}
							{% else %}
								{{car.title|upper}}
							{% endif %}
							</h3>
                        </div>
                        <p>
                            {{car.description}}
                        </p>
                        <p>*{{'para-alugueres'|trans}}</p>
						
						<div class="inline-edit" id="text-veiculo-extras" data-keyword="veiculo-extras">{{'veiculo-extras'|trans|raw}}</div>

                        <!--<div class="inline-edit" id="text-opcionais{{car.id}}" data-keyword="opcionais">{{'opcionais'|trans|raw}}</div>-->
                        
                    </div>
                {% endfor %}
                <!-- end txtb -->
            </div>
            <!-- end overlay -->
        </div>
        <!-- end product info -->
    </div>
    
    </div>
    <!-- end leftcol -->
    <!-- start rightcol -->
    <div class="col-lg-4 col-md-12 col-xs-12 form-white">
    <div class="col-lg-12 col-md-12">
        <!-- start fillform -->
        <div class="fillform home">
            <h4>{{'reserve-esta-viatura'|trans}}</h4>   
            

            <form action="" onsubmit="return false;" name="reserva-metrorent" id="reserva-metrorent" class="quotation-request-form clearfix form1">
                <input type='hidden' name='formName' value='RESERVA_METRORENT' />
                <input type='hidden' name='formCaptation' value='' />
                <input title="Nome Completo" name="name" id="name" type="text" placeholder="{% if lang == 'pt-PT' %}Nome Completo*{% else %}Full Name{% endif %}" data-placeholder="{% if lang == 'pt-PT' %}Nome Completo*{% else %}Full Name{% endif %}" data-required="true" class="text input" />
                <input title="Email" name="email" id="email" type="text" placeholder="Email*" data-placeholder="Email" data-required="true" class="text input"   />
                <input title="Telemóvel ou Telefone" name="phone" id="phone" type="text" data-placeholder="{% if lang == 'pt-PT' %}Telemóvel ou Telefone*{% else %}Phone or Mobile{% endif %}" data-required="true" placeholder="{% if lang == 'pt-PT' %}Telemóvel ou Telefone*{% else %}Phone or Mobile{% endif %}" class="text input" />

                <select name="localidade" class="style-select" data-placeholder="{% if lang == 'pt-PT' %}Escolha localidade{% else %}Choose location{% endif %}" data-required="true" placeholder="{% if lang == 'pt-PT' %}Escolha localidade{% else %}Choose location{% endif %}">
                    <option value="" >{% if lang == 'pt-PT' %}Escolha localidade{% else %}Choose location{% endif %}</option>
                    <option value="Senhora da Hora" >Senhora da Hora</option>
                    <option value="Porto" >Porto</option>
                    <option value="Santa Maria da Feira" >Santa Maria da Feira</option>
                </select>

                <select name="caixa" class="style-select" data-placeholder="{% if lang == 'pt-PT' %}Escolha o tipo de caixa{% else %}Select the type of box{% endif %}" data-required="true" placeholder="{% if lang == 'pt-PT' %}Escolha o tipo de caixa{% else %}Select the type of box{% endif %}">
                    <option value="" >{% if lang == 'pt-PT' %}Escolha o tipo de caixa{% else %}Choose the type of transmission (Manual or Auto){% endif %}</option>
                    <option value="Automática" >{% if lang == 'pt-PT' %}Automática{% else %}Automatic{% endif %}</option>
                    <option value="Manual" >Manual</option>
                </select>

                <input title="{% if lang == 'pt-PT' %}Data de levantamento{% else %}Survey date{% endif %}" name="date_levantamento" id="date_levantamento" type="text" data-placeholder="{% if lang == 'pt-PT' %}Data de levantamento{% else %}Survey date{% endif %}" data-required="true" placeholder="{% if lang == 'pt-PT' %}Data de levantamento{% else %}Survey date{% endif %}" class="text input date" />

                <select name="time_levantamento" placeholder="{% if lang == 'pt-PT' %}Hora{% else %}Time{% endif %}" data-placeholder="{% if lang == 'pt-PT' %}Hora{% else %}Time{% endif %}" data-required="true" class="input-short time">
                    <option value="" >{% if lang == 'pt-PT' %}Hora{% else %}Time{% endif %}</option>
                    <option value="00:00">00:00</option>
                    <option value="00:30">00:30</option>
                    <option value="01:00">01:00</option>
                    <option value="01:30">01:30</option>
                    <option value="02:00">02:00</option>
                    <option value="02:30">02:30</option>
                    <option value="03:00">03:00</option>
                    <option value="03:30">03:30</option>
                    <option value="04:00">04:00</option>
                    <option value="04:30">04:30</option>
                    <option value="05:00">05:00</option>
                    <option value="05:30">05:30</option>
                    <option value="06:00">06:00</option>
                    <option value="06:30">06:30</option>
                    <option value="07:00">07:00</option>
                    <option value="07:30">07:30</option>
                    <option value="08:00">08:00</option>
                    <option value="08:30">08:30</option>
                    <option value="09:00">09:00</option>
                    <option value="09:30">09:30</option>
                    <option value="10:00">10:00</option>
                    <option value="10:30">10:30</option>
                    <option value="11:00">11:00</option>
                    <option value="11:30">11:30</option>
                    <option value="12:00">12:00</option>
                    <option value="12:30">12:30</option>
                    <option value="13:00">13:00</option>
                    <option value="13:30">13:30</option>
                    <option value="14:00">14:00</option>
                    <option value="14:30">14:30</option>
                    <option value="15:00">15:00</option>
                    <option value="15:30">15:30</option>
                    <option value="16:00">16:00</option>
                    <option value="16:30">16:30</option>
                    <option value="17:00">17:00</option>
                    <option value="17:30">17:30</option>
                    <option value="18:00">18:00</option>
                    <option value="18:30">18:30</option>
                    <option value="19:00">19:00</option>
                    <option value="19:30">19:30</option>
                    <option value="20:00">20:00</option>
                    <option value="20:30">20:30</option>
                    <option value="21:00">21:00</option>
                    <option value="21:30">21:30</option>
                    <option value="22:00">22:00</option>
                    <option value="22:30">22:30</option>
                    <option value="23:00">23:00</option>
                    <option value="23:30">23:30</option>
                </select>
                    
                <input title="Data de devolução" name="date_devolucao" id="date_devolucao" data-placeholder="{% if lang == 'pt-PT' %}Data de devolução{% else %}Return date{% endif %}" data-required="true" type="text" placeholder="{% if lang == 'pt-PT' %}Data de devolução{% else %}Return date{% endif %}" class="text input date"/>

                <select name="time_devolucao" data-placeholder="{% if lang == 'pt-PT' %}Hora{% else %}Time{% endif %}" data-required="true" class="input-short time" placeholder="{% if lang == 'pt-PT' %}Hora{% else %}Time{% endif %}">
                    <option value="" >{% if lang == 'pt-PT' %}Hora{% else %}Time{% endif %}</option>
                    <option value="00:00">00:00</option>
                    <option value="00:30">00:30</option>
                    <option value="01:00">01:00</option>
                    <option value="01:30">01:30</option>
                    <option value="02:00">02:00</option>
                    <option value="02:30">02:30</option>
                    <option value="03:00">03:00</option>
                    <option value="03:30">03:30</option>
                    <option value="04:00">04:00</option>
                    <option value="04:30">04:30</option>
                    <option value="05:00">05:00</option>
                    <option value="05:30">05:30</option>
                    <option value="06:00">06:00</option>
                    <option value="06:30">06:30</option>
                    <option value="07:00">07:00</option>
                    <option value="07:30">07:30</option>
                    <option value="08:00">08:00</option>
                    <option value="08:30">08:30</option>
                    <option value="09:00">09:00</option>
                    <option value="09:30">09:30</option>
                    <option value="10:00">10:00</option>
                    <option value="10:30">10:30</option>
                    <option value="11:00">11:00</option>
                    <option value="11:30">11:30</option>
                    <option value="12:00">12:00</option>
                    <option value="12:30">12:30</option>
                    <option value="13:00">13:00</option>
                    <option value="13:30">13:30</option>
                    <option value="14:00">14:00</option>
                    <option value="14:30">14:30</option>
                    <option value="15:00">15:00</option>
                    <option value="15:30">15:30</option>
                    <option value="16:00">16:00</option>
                    <option value="16:30">16:30</option>
                    <option value="17:00">17:00</option>
                    <option value="17:30">17:30</option>
                    <option value="18:00">18:00</option>
                    <option value="18:30">18:30</option>
                    <option value="19:00">19:00</option>
                    <option value="19:30">19:30</option>
                    <option value="20:00">20:00</option>
                    <option value="20:30">20:30</option>
                    <option value="21:00">21:00</option>
                    <option value="21:30">21:30</option>
                    <option value="22:00">22:00</option>
                    <option value="22:30">22:30</option>
                    <option value="23:00">23:00</option>
                    <option value="23:30">23:30</option>
                </select>
                <div class="terms">
                    <input name="checkbox" type="checkbox" value="1" class="checkbox" data-required="true" data-placeholder="{% if lang == 'pt-PT' %}Aceito a política de privacidade{% else %}I accept the Privacy Policy{% endif %}" placeholder="{% if lang == 'pt-PT' %}Aceito a política de privacidade{% else %}I accept the Privacy Policy{% endif %}"/>
                    <label for="privacy" class="label">
                        <a class="linkpp privacy-policy" href="javascript:void(0)">{% if lang == 'pt-PT' %}Aceito a política de privacidade{% else %}I accept the Privacy Policy{% endif %} </a> 
                    </label>
                </div>
                <div class="terms">
                    <input name="checkbox" type="checkbox" value="1" class="checkbox" data-required="true" data-placeholder="{% if lang == 'pt-PT' %}Aceito as condições gerais de aluguer{% else %}I accept the rental general conditions{% endif %}" placeholder="{% if lang == 'pt-PT' %}Aceito as condições gerais de aluguer{% else %}I accept the rental general conditions{% endif %}"/>
                    <label for="privacy" class="label"><a class="linkpp condicoes-aluguer" href="javascript:void(0)"> {% if lang == 'pt-PT' %}Aceito as condições gerais de aluguer{% else %}I accept the rental general conditions{% endif %}</a> </label>
                </div>
                
                <input type="submit" value="{% if lang == 'pt-PT' %}RESERVAR{% else %}book{% endif %}" class="button btn-submit" onclick="enviar_form(1, '{{lang}}');" id="reserve-id"/>
            </form>
            <small>*{{'required'|trans}}</small>
        </div>
        <!-- end fillform -->
    </div>
    
    </div>
    <!-- end rightcol -->
</div>

<!-- end container -->
{% endblock %}