<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ lang }}">
<head>
{% if editMode %}
    <style type="text/css">
        .inline-edit {
            /*background-color: #F5F5F0;*/
            -webkit-box-shadow: 0px 0px 15px 3px #F5F5F0;
            -moz-box-shadow: 0px 0px 15px 3px #F5F5F0;
            box-shadow: 0px 0px 15px 3px #F5F5F0;
            padding: 10px;
        }

        .inline-edit.black {
            -webkit-box-shadow: 0px 0px 15px 3px #ccc;
            -moz-box-shadow: 0px 0px 15px 3px #ccc;
            box-shadow: 0px 0px 15px 3px #ccc;
            padding: 10px;
        }
    </style>
{% endif %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="title" content="{% block contenttitle %}{% endblock %}">
<meta name="description" content="{% block description %}{% endblock %}">
<meta name="keywords" content="{% block keywords %}{% endblock %}">
<meta property="og:title" content="{% block ogtitle %}{% endblock %}">
<meta property="og:type" content="Website">
<meta property="og:url" content="{% block ogurl %}{% endblock %}">
<meta property="og:image" content="{% block ogimage %}{% endblock %}">
<meta property="og:site_name" content="{% block ogsitename %}{% endblock %}">
<meta property="fb:admins" content="Fb admins">
<meta property="og:description" content="{% block ogdescription %}{% endblock %}">
<meta name="google-site-verification" content="747a0xkcCbj6rgF-rt84ZjepJZDotUO93UYwnHz-6gU" />
<link rel="shortcut icon" href="favicon.ico">
<title>{% block title %}{% endblock %}</title>
<base href="{{ rooturl }}" />
<!-- Slick -->
<link href="{{ rooturl }}assets/frontend/css/style.css" rel="stylesheet" type="text/css" />
<link href="{{ rooturl }}assets/frontend/css/colorbox.css" rel="stylesheet" type="text/css" />
<link href="{{ rooturl }}assets/frontend/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="{{ rooturl }}assets/frontend/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{{ rooturl }}assets/frontend/css/bootstrap.theme.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ rooturl }}assets/frontend/js/jquery1.7.1.js"></script>
<script type="text/javascript" src="{{ rooturl }}assets/frontend/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ rooturl }}assets/frontend/js/jquery.min.js"></script>
<script type="text/javascript" src="{{ rooturl }}assets/frontend/js/jquery.colorbox-min.js"></script>
<script type="text/javascript" src="{{ rooturl }}assets/frontend/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<!-- Slick -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.0/slick.css"/>
<link rel="stylesheet" type="text/css" href="{{rooturl}}assets/frontend/css/slick-theme.css"/>
<script type="text/javascript" src="{{rooturl}}assets/frontend/js/slick.min.js"></script>
<link href="{{ rooturl }}assets/frontend/css/style-slick.css" rel="stylesheet" type="text/css" />

<!-- MEDIUM -->
<script src="{{ rooturl }}assets/medium/rangy-core.js"></script>
<script src="{{ rooturl }}assets/medium/rangy-classapplier.js"></script>
<script src="{{ rooturl }}assets/medium/undo.js"></script>
<script src="{{ rooturl }}assets/medium/medium.js"></script>
<link rel="stylesheet" href="{{ rooturl }}assets/medium/medium.css">

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function()
{ (i[r].q=i[r].q||[]).push(arguments)}
,i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-76062554-1', 'auto');
ga('send', 'pageview');
</script>



<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript">
    setTimeout(function(){var a=document.createElement("script");
    var b=document.getElementsByTagName("script")[0];
    a.src=document.location.protocol+"//cdn.reweb-corp.com/location.0.0.1.js?"+Math.floor(new Date().getTime()/3600000);
    a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>
{% if editMode %}
    <style type="text/css">
        .inline-edit {
            /*background-color: #F5F5F0;*/
            -webkit-box-shadow: 0px 0px 15px 3px #F5F5F0;
            -moz-box-shadow: 0px 0px 15px 3px #F5F5F0;
            box-shadow: 0px 0px 15px 3px #F5F5F0;
            padding: 10px;
        }

        .inline-edit.black {
            -webkit-box-shadow: 0px 0px 15px 3px #ccc;
            -moz-box-shadow: 0px 0px 15px 3px #ccc;
            box-shadow: 0px 0px 15px 3px #ccc;
            padding: 10px;
        }
    </style>
{% endif %}
</head>

<body class="home">

<!-- start header -->
<div class="header clearfix col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <!-- start box -->
    <div class="box">
        <!-- start logo -->
        <div class="logo">
            <a href="{{rooturl}}" title="Metrorent"><img src="{{ rooturl }}assets/frontend/images/logo.png" alt="Metrorent" /></a>
        </div>
        <!-- end logo -->
        <!-- start header right -->
        <div class="header-right">
            <!-- start contact info -->
            <div class="contact-info clearfix">
                <div class="menu-top">
                    <strong class="phonez">{{'contact-us'|trans|capitalize}}<samp>+351 229 551 051</samp><span>{{'business-hours'|trans}}</span></strong>
                    <div class="translate pt-en">
                        <div class="langs">
                            <a class="en-ban" href="{{ rooturl }}lang/en-us"><img src="{{rooturl}}assets/frontend/images/en-lang.jpg" width="26"></a>
                            <a  class="pt-ban" href="{{ rooturl }}lang/pt-pt"><img src="{{rooturl}}assets/frontend/images/pt-lang.jpg" width="26"></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- end contact info -->
        </div>
        <!-- end header right -->
        <!-- start navigation -->
            <div class="navigation">
                <a class="img-menu"></a>
                <ul class="menu-ul">
                    <li><a href="{{ rooturl }}{{url_used_cars}}-{{url_complement}}" title="VIATURAS">{{'viaturas'|trans|upper}}</a></li>
                    {% for item in menu %}
                        {% if not item.secundary_menu %}
                            <li class="{{item.class}}"><a href="{{ rooturl }}{{item.url}}" class="{{item.class}}" title="{{item.keyword|trans|upper}}">{{item.keyword|trans|upper}}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <!-- end navigation -->
    </div>
    <!-- end box -->
</div>
<!-- end header -->
<!-- start container -->
    {% block content %}{% endblock %}
<!-- end container -->
<!-- start footer -->
<div class="footer clearfix">
    <!-- start box -->
    <div class="box">
        <h1 style="font-size:10px;">{{h1|default('')}}</h1>
        <!-- start footer left -->
        <div class="footer-left">
            <!-- start txtb -->
            <div class="txtb">
                <p>
                    <span>{{'metrorent-direitos'|trans}}</span> Senhora da Hora | Porto | Santa Maria da Feira •
                </p>
            </div>
            <!-- end txtb -->
        </div>
        <!-- end footer left -->
        <!-- start footer right -->
        <div class="footer-right">
            <!-- start contact info -->
            <div class="contact-info clearfix">
                <strong>{{'contact-us'|trans|capitalize}}<samp>+351 229 551 051</samp><span>{{'business-hours'|trans}}</span></strong>
            </div>
            <!-- end contact info -->
        </div>
        <!-- end footer right-->
    </div>
    <!-- end box -->
</div>

<div id="politica" class="modal fade" title="{{'title-politica-aceite'|trans}}" style="display:none;">
    <div class="modal-dialog">
            <div class="modal-body">
                <div class="container-fluid">
				{%set politica_modal='politica-de-privacidade'|trans %}
                    {{politica_modal|raw}}
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

    <div id="politica-condicoes" class="modal fade" title="{{'condicoes-gerais-titulo'|trans}}" style="display:none;">
        <div class="modal-dialog">
            <div class="modal-body">
                <div class="container-fluid">
                   {%set politica='texto-politica'|trans %}
                    <p class="condicoes">{{politica|raw}}</p>

                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div><!-- /.modal -->

<div id="contato" class="modal fade" title="{{'enviar-obrigado'|trans|capitalize}} " style="display:none;">
    <div class="modal-dialog">
            <div class="modal-body">
                <div class="container-fluid">

                    <p>{{'envio-final'|trans|raw}}  </p>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% if success|default(false) == true %}
    <script>
        $( "#contato" ).dialog({
          modal: true,
          height: 240,
          width: 510,
          buttons: {
            Ok: function() {
              $( this ).dialog( "close" );
            }
          }
        });
    </script>
{% endif %}

<script type="text/javascript" src="{{ rooturl }}assets/frontend/js/select.js"></script>
<script type="text/javascript" src="{{ rooturl }}assets/frontend/js/jquery.inputmask.bundle.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script>
    $(function(){

        $('input[name=phone]').inputmask('999 999 999 999')
        $('input[name=date]').datepicker();
        $('input[name=data]').datepicker();
        $('input[name=placa]').inputmask('aaa 9999')
        $('input.number').inputmask('9999999999')

        $("input[name=entrada]").inputmask("decimal",{
             radixPoint:",",
             groupSeparator: ".",
             digits: 2,
             autoGroup: true,
             prefix: 'R$ '
         });

        var global = "";
        var inmodel = "";
        var mod = "";

        var url = window.location.host;

        $('.single-item-index').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 5000,
            dots:true,
            infinite: true,
            arrows: false
        });

        $('.slider_car').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 5000,
            dots:true,
            infinite: true,
            arrows: false,
            variableWidth: true,
            responsive: [
                {
                    breakpoint: 600,
                    settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                  }
                },
                {
                  breakpoint: 480,
                  settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                  }
                }
            ]
        });

        $('.slick-dots li').click(function(){
                slideIndex = $(this).index();
                $('.menu-slick ul li').removeClass( "slick-active" );
                $(this).addClass( "slick-active" );
                $( ".single-item-index" ).slick('slickGoTo', parseInt(slideIndex));
        });

         $('.subnav-cars .list').hide();
         $('.subnav-cars .list.active').show();

         $('.cars-home .car-content').hide();
        var car_active = $('.cars-home .subnav-cars div ul a.active').attr("car");
        // alert(car_active);
        $('#'+car_active).show();


        $('.cars-home .tabnav li a').click(function(){
            var content = $(this).attr('content');
            //alert(content);
            $('.tabnav li a').removeClass('active');
            $(this).addClass('active');

            $('.subnav-cars .list').hide();
            $("#"+content).show();

            var car = $("#"+content+" ul li a").attr('car');
            $('.cars-home .subnav-cars a').removeClass('active');
            $("#"+content+" ul li:first-child a").addClass('active');

            var image = $("#"+content+" ul li:first-child a.active").attr('image');
            $('#imageDefault').attr('src', image);

            $('.cars-home .car-content').hide();
            $("#"+car).show();

            $('.'+content).slick({
                infinite: false,
                slidesToShow: 1,
                slidesToScroll: 1,
                prevArrow: $('#prev-'+content),
                nextArrow: $('#next-'+content),
                dots: false,
                responsive: [
                {
                  breakpoint: 600,
                  settings: {
                    infinite: true,
                    slidesToShow: 1,
                    slidesToScroll: 1
                  }
                },
                {
                  breakpoint: 480,
                  settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                  }
                }
                ]
            });

         });

         $('.viaturas .tabnav li a').click(function(){
            var content = $(this).attr('content');
            //$('.tabnav li a').removeClass('active');
            //$(this).addClass('active');

            //$('.subnav-cars .list').hide();
            //$("#"+content).show();

            var car = $("#"+content+" li:first-child a").attr('href');

            if(content != 'do-mes-ul'){
                location.href = car;
            }else{
                location.href = "{{rooturl}}viaturas-em-senhora-da-hora-porto-santa-maria-da-feira"
            }
        });

        $('.passenger-ul').slick({
            infinite: false,
            slidesToShow: 6,
            slidesToScroll: 1,
            prevArrow: $('#prev-passenger-ul'),
            nextArrow: $('#next-passenger-ul'),
            responsive: [
            {
              breakpoint: 600,
              settings: {
                infinite: true,
                slidesToShow: 2,
                slidesToScroll: 2
              }
            },
            {
              breakpoint: 480,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1
              }
            }
            ]
        });

        $('.comercial-ul').slick({
            infinite: false,
            slidesToShow: 6,
            slidesToScroll: 1,
            prevArrow: $('#prev-passenger-ul'),
            nextArrow: $('#next-passenger-ul'),
            responsive: [
            {
              breakpoint: 600,
              settings: {
                infinite: true,
                slidesToShow: 2,
                slidesToScroll: 2
              }
            },
            {
              breakpoint: 480,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1
              }
            }
            ]
        });

        $('.cars-home .subnav-cars div ul a').click(function(){
            var car = $(this).attr('car');
            $('.cars-home .subnav-cars div ul a').removeClass('active');
            $(this).addClass('active');

            $("#moto").attr('value', $(this).attr('title'));
            $("#moto_link").attr('value', $(this).attr('link'));


            var image = $(this).attr('image');
            $('#imageDefault').attr('src', image);

            $('.cars-home .car-content').hide();
            $("#"+car).show();
         });



    })


    $('.linkpp').attr('href','javascript:void(0);');
    $('.linkpp').attr('data-toggle','modal');

    $('a.linkpp.privacy-policy').click(function() {
        $( "#politica" ).dialog({
          modal: true,
          height: 470,
          width: 1250,
          buttons: {
            Ok: function() {
              $( this ).dialog( "close" );
            }
          }
        });
    });

    $('a.linkpp.condicoes-aluguer').click(function() {
        $( "#politica-condicoes" ).dialog({
          modal: true,
          height: 470,
          width: 1250,
          buttons: {
            Ok: function() {
              $( this ).dialog( "close" );
            }
          }
        });
    });




    $( ".date" ).datepicker({
        numberOfMonths: 3,
        showButtonPanel: true,
        dateFormat: 'dd/mm/yy',
        dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
        dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
        dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
        monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
        monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
        nextText: 'Próximo',
        prevText: 'Anterior'
    });


    var startDate = new Date();
    $('.date').attr('value', startDate.getDate() + '/' + (startDate.getMonth() + 1) + '/' + startDate.getFullYear());

    function selectImage(url){
        $('#imageDefault').attr('src', url);
    }

    $( "#reserva-metrorent" ).append( "<input type='hidden' name='moto' id='moto' value=''/><input type='hidden' id='moto_link' name='moto_link' value=''/>");

    $("#moto").attr('value', $('.tab-content a.active').attr('title'));
    $("#moto_link").attr('value', $('.tab-content a.active').attr('link'));

    {% if editMode %}
        $('.navigation a').each(function(e){
            $(this).attr('href', $(this).attr('href') + '?editMode=true')
        });

        $('.logo a').each(function(e){
            $(this).attr('href', $(this).attr('href') + '?editMode=true')
        });

        $('.langs a').each(function(e){
            $(this).attr('href', $(this).attr('href') + '?editMode=true')
        });

        $('.inline-edit').each(function(e){
            $(this).attr('contenteditable', true);
            new Medium({
                element: document.getElementById($(this).attr('id')),
                mode: Medium.richMode,
                maxLength: 100000,
                placeholder: 'Seu texto',
                attributes: null,
                tags: null
            });

            $(this).on('focusout', function(e){
                saveContentText($(this).html(), $(this).attr('data-keyword'));
            })
        });

        function saveContentText(content, key){
            var lang = $('html').attr('lang');

            $.ajax({
                type: "POST",
                url: $('base').attr('href') + 'save-content-text',
                data: {
                    content: content,
                    key: key,
                    lang: lang
                },
                success: function(response){
                    console.log(response);
                    return;
                    if (response.saved) {
                        successMessage();
                    }else{
                        // $('#editTolls img').hide();
                        // $('#editTolls h5').text('Ops! Ocorreu um erro: ' + response);
                    }
                },
                dataType: 'json'
            });
        }

        function successMessage(){
            $('#editTolls img').fadeOut(function(){
                $('#editTolls h5').text('Salvo!');
                setTimeout(function(){
                    $('#editTolls h5').text('Modo de edição de conteúdo');
                }, 2000)
            });
        }
    {% endif %}

</script>

</body>
</html>
