{% extends "layout.html" %}
{% block title %}{{ 'title'|trans }}{% endblock %}
{% block content %}

<!-- start container -->
<div class="container clearfix">
    <!-- start box -->
    <div class="box col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <!-- start title bar -->
        <div class="title-bar clearfix title-detalhe">
            <!-- start breadcrumb -->
            <div class="breadcrumb clearfix">
                <ul>   
                    <li><a href="{{ rooturl }}" title="{{'inicio'|trans|capitalize}}">{{'inicio'|trans|capitalize}}</a></li>
                    <li>{{'viaturas'|trans|capitalize}}</li>
                </ul>
            </div>
            <!-- end breadcrumb -->
            <h3 class="heading2 viatura-title">{{'viaturas'|trans|capitalize}}</h3>
        </div>
        <!-- end title bar -->
    </div>
    <!-- end box -->
    <!-- start tab2 -->
    <div class="viaturas tab2 clearfix col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <!-- start box -->
        <div class="box">
            <!-- start tabnav -->
            <div class="tabnav clearfix">
                <ul>
                    <li>
                        <a href="javascript:void(0);" content="do-mes-ul" class="{% if car.data.tag == 'CARRO DO MÊS'%}active{%endif%}" title="{{'carro-do-mes'|trans|upper}}">{{'carro-do-mes'|trans|upper}}</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" content="passenger-ul" class="{% if car.data.tag == 'LIGEIROS DE PASSAGEIROS'%}active{%endif%}" title="{{'ligeiros-passageiros'|trans|upper}}">{{'ligeiros-passageiros'|trans|upper}}</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" content="comercial-ul" class="{% if car.data.tag == 'COMERCIAIS E TURISMO'%}active{%endif%}" title="{{'comerciais-e-turismo'|trans|upper}}">{{'comerciais-e-turismo'|trans|upper}}</a>
                    </li>
                </ul>
            </div>
            <!-- end tabnav -->
            <!-- start subnav -->
                <div class="subnav subnav-cars clearfix menu-top-viaturas">
                    <div id="do-mes-ul" class="list {% if car.data.tag == 'CARRO DO MÊS'%}active{%endif%}">
                        <ul>
                            <li><a href="{{cars.highlight|used_url}}" class="{% if car.data.id == cars.highlight.id%}active{%endif%}" link="{{cars.highlight|used_url}}" title="{{cars.highlight.title|upper}}">
								{% if lang == "en-US" %}
									{% if cars.highlight.title == "Classe A" %}A-CLASS{% endif %}
									{% if cars.highlight.title == "Classe B" %}B-CLASS{% endif %}
									{% if cars.highlight.title == "Classe C" %}C-CLASS{% endif %}
									{% if cars.highlight.title == "Classe C Station" %}C-CLASS Estate{% endif %}
									{% if cars.highlight.title == "Classe E" %}E-CLASS{% endif %}
									{% if cars.highlight.title == "Classe E Station" %}E-CLASS Estate{% endif %}
									{% if cars.highlight.title == "Classe GLA" %}GLA-CLASS{% endif %}
									{% if cars.highlight.title == "Classe CLA" %}CLA-CLASS{% endif %}
									{% if cars.highlight.title == "Smart Fortwo" %}{{cars.highlight.title|upper}}{% endif %}
									{% if cars.highlight.title == "Smart Forfour" %}{{cars.highlight.title|upper}}{% endif %}
									{% if cars.highlight.title == "Citan" %}{{cars.highlight.title|upper}}{% endif %}
									{% if cars.highlight.title == "Viano" %}{{cars.highlight.title|upper}}{% endif %}
									{% if cars.highlight.title == "Vito" %}{{cars.highlight.title|upper}}{% endif %}
									{% if cars.highlight.title == "Sprinter" %}{{cars.highlight.title|upper}}{% endif %}
									{% if cars.highlight.title == "Vito (Turismo)" %}VITO (TOURISM){% endif %}
								{% else %}	
									{{cars.highlight.title|upper}}
								{% endif %}	
							</a></li>
                        </ul>
                    </div>                   
                    <div id="passenger-ul" class="list {% if car.data.tag == 'LIGEIROS DE PASSAGEIROS'%}active{%endif%}">
                        <ul class="passenger-ul">
                            {% for car_p in cars.passenger %}
                               <li><a href="{{car_p|used_url}}" link="{{car_p|used_url}}" class="{% if car.data.id == car_p.id%}active{%endif%}" title="{{car_p.title|upper}}">
								{% if lang == "en-US" %}
									{% if car_p.title == "Classe A" %}A-CLASS{% endif %}
									{% if car_p.title == "Classe B" %}B-CLASS{% endif %}
									{% if car_p.title == "Classe C" %}C-CLASS{% endif %}
									{% if car_p.title == "Classe C Station" %}C-CLASS Estate{% endif %}
									{% if car_p.title == "Classe E" %}E-CLASS{% endif %}
									{% if car_p.title == "Classe E Station" %}E-CLASS Estate{% endif %}
									{% if car_p.title == "Classe GLA" %}GLA-CLASS{% endif %}
									{% if car_p.title == "Classe CLA" %}CLA-CLASS{% endif %}
									{% if car_p.title == "Smart Fortwo" %}{{car_p.title|upper}}{% endif %}
									{% if car_p.title == "Smart Forfour" %}{{car_p.title|upper}}{% endif %}
								{% else %}
									{{car_p.title|upper}}
								{% endif %}
							   </a></li>
                            {% endfor %}
                        </ul>
                        {% if cars.passenger|length > 7 %}
                            <div class="metro-arrows">
                                <a id="prev-passenger-ul" class="metro-prev2" href="javascript:void(0);"></a><a id="next-passenger-ul" class="metro-next2" href="javascript:void(0);"></a>
                            </div>
                        {% endif %}
                    </div>
                    <div id="comercial-ul" class="list {% if car.data.tag == 'COMERCIAIS E TURISMO'%}active{%endif%}">
                        <ul class="comercial-ul">
                            {% for car_c in cars.comerciais %}
                               <li><a href="{{car_c|used_url}}"  link="{{car_c|used_url}}" class="{% if car.data.id == car_c.id%}active{%endif%}" title="{{car_c.title|upper}}">
								{% if lang == "en-US" %}
									{% if car_c.title == "Citan" %}{{car_c.title|upper}}{% endif %}
									{% if car_c.title == "Viano" %}{{car_c.title|upper}}{% endif %}
									{% if car_c.title == "Vito" %}{{car_c.title|upper}}{% endif %}
									{% if car_c.title == "Sprinter" %}{{car_c.title|upper}}{% endif %}
									{% if car_c.title == "Vito (Turismo)" %}VITO (TOURISM){% endif %}
								{% else %}
									{{car_c.title|upper}}
								{% endif %}
							   </a></li>
                            {% endfor %}
                        </ul>
                        {% if cars.comerciais|length > 2 %}
                            <div class="metro-arrows">
                                <a id="prev-comercial-ul" class="metro-prev2" href="javascript:void(0);"></a><a id="next-comercial-ul" class="metro-next2" href="javascript:void(0);"></a>
                            </div>
                        {% endif %}    
                    </div>
                </div>
                <!-- end subnav -->
        </div>
        <!-- end box -->
        <!-- start tab content -->
        <div class="tab-content col-lg-12 col-md-12 col-xs-12 col-sm-12  clearfix">
            <!-- start leftcol -->
            <div class="leftcol col-lg-8 col-md-8 col-sm-12">
                <!-- start slider -->
                <div class="slider_car">
                    {% for image in car.data.gallery %}
                        <div class="slide">
                            <img src="http://integrador.reweb.com.br/upload/gallery/{{image.file}}" width:"899px"/>
                        </div>
                    {% endfor %}
                </div>
                <!-- end slider -->
                <!-- start product info2 -->
                <div class="product-info2 clearfix">
                    <div class="clearfix">
                        <span class="price">
                            {% if car.data.price == 0 %}
                                <samp></samp><small> {{'sob-consulta'|trans}} </small><samp></samp>
                            {% else %}
                                <samp>{{'a-partir'|trans}}</samp>{{'moeda'|trans}} {{car.data.price}}<small> / {{'dia'|trans}}*</small><samp>{{'iva-incluido'|trans}}</samp>
                            {% endif %}
                        </span>
                        <h3>
						{% if lang == "en-US" %}
							{% if car.data.title == "Classe A" %}A-CLASS{% endif %}
							{% if car.data.title == "Classe B" %}B-CLASS{% endif %}
							{% if car.data.title == "Classe C" %}C-CLASS{% endif %}
							{% if car.data.title == "Classe C Station" %}C-CLASS Estate{% endif %}
							{% if car.data.title == "Classe E" %}E-CLASS{% endif %}
							{% if car.data.title == "Classe E Station" %}E-CLASS Estate{% endif %}
							{% if car.data.title == "Classe GLA" %}GLA-CLASS{% endif %}
							{% if car.data.title == "Classe CLA" %}CLA-CLASS{% endif %}
							{% if car.data.title == "Smart Fortwo" %}{{car.data.title|upper}}{% endif %}
							{% if car.data.title == "Smart Forfour" %}{{car.data.title|upper}}{% endif %}
							{% if car.data.title == "Citan" %}{{car.data.title|upper}}{% endif %}
							{% if car.data.title == "Viano" %}{{car.data.title|upper}}{% endif %}
							{% if car.data.title == "Vito" %}{{car.data.title|upper}}{% endif %}
							{% if car.data.title == "Sprinter" %}{{car.data.title|upper}}{% endif %}
							{% if car.data.title == "Vito (Turismo)" %}VITO (TOURISM){% endif %}
						{% else %}
							{{car.data.title|upper}}
						{% endif %}
						</h3>
                    </div>
                    <p>{{car.data.description}}</p>
                    <p>*{{'para-alugueres'|trans}}</p>

                    <!-- start row -->
                    <div class="inline-edit black" id="text-servicos-incluidos{{car.data.id}}" data-keyword="servicos-incluidos">{{'servicos-incluidos'|trans|raw}}</div>
                    
                    <div class="inline-edit black" {% if not editMode %}style="margin-top: -30px;margin-bottom: 30px;"{% endif %} id="text-veiculo-extras" data-keyword="veiculo-extras">{{'veiculo-extras'|trans|raw}}</div>
                    <!-- end row -->
                </div>
                <!-- end product info2 -->
            </div>
            <!-- end leftcol -->
            <!-- start rightcol -->
            <div class="rightcol col-lg-4 col-md-4 col-sm-12">
                <!-- start fillform -->
                <div class="fillform">
                    <h4>{{'reserve-esta-viatura'|trans}}</h4>   
                    {#{'reserva-metrorent'|makeform|raw }#}
                    <form action="" onsubmit="return false;" name="reserva-metrorent" id="reserva-metrorent" class="quotation-request-form clearfix form4">
                        <input type='hidden' name='formName' value='RESERVA_METRORENT' /><input type='hidden' name='formCaptation' value='' />
                        
                        <input title="Nome Completo" name="name" id="name" type="text" placeholder="{% if lang == 'pt-PT' %}Nome Completo*{% else %}Full Name{% endif %}" data-placeholder="{% if lang == 'pt-PT' %}Nome Completo*{% else %}Full Name{% endif %}" data-required="true" class="text input"/>
                        
                        <input title="Email" name="email" id="email" type="text" class="text input"  placeholder="Email*" data-placeholder="Email" data-required="true"/>
                        
                        <input title="Telemóvel ou Telefone" name="phone" id="phone" type="text" data-placeholder="{% if lang == 'pt-PT' %}Telemóvel ou Telefone*{% else %}Phone or Mobile{% endif %}" data-required="true" placeholder="{% if lang == 'pt-PT' %}Telemóvel ou Telefone*{% else %}Phone or Mobile{% endif %}" class="text input" />
                        
                        <select name="localidade" class="style-select" data-placeholder="{% if lang == 'pt-PT' %}Escolha localidade{% else %}Choose location{% endif %}" data-required="true" placeholder="{% if lang == 'pt-PT' %}Escolha localidade{% else %}Choose location{% endif %}"> 
                            <option value="" >{% if lang == 'pt-PT' %}Escolha localidade{% else %}Choose location{% endif %} </option>
                            <option value="Senhora da Hora" >Senhora da Hora</option>
                            <option value="Porto" >Porto</option>
                            <option value="Santa Maria da Feira" >Santa Maria da Feira</option>
                        </select>

                        <select name="caixa" class="style-select" data-placeholder="{% if lang == 'pt-PT' %}Escolha o tipo de caixa{% else %}Select the type of box{% endif %}" data-required="true" placeholder="{% if lang == 'pt-PT' %}Escolha o tipo de caixa{% else %}Select the type of box{% endif %}">
                            <option value="" >{% if lang == 'pt-PT' %}Escolha o tipo de caixa{% else %}Choose the type of transmission (Manual or Auto){% endif %}</option>
                            <option value="Automática" >{% if lang == 'pt-PT' %}Automática{% else %}Automatic{% endif %}</option>
                            <option value="Manual" >Manual</option>
                        </select>

                        <input title="{% if lang == 'pt-PT' %}Data de levantamento{% else %}Survey date{% endif %}" name="date_levantamento" id="date_levantamento" type="text" data-placeholder="{% if lang == 'pt-PT' %}Data de levantamento{% else %}Survey date{% endif %}" data-required="true" placeholder="{% if lang == 'pt-PT' %}Data de levantamento{% else %}Survey date{% endif %}" class="text input date" />
                        
                        <select name="time_levantamento" placeholder="{% if lang == 'pt-PT' %}Hora{% else %}Time{% endif %}" data-placeholder="{% if lang == 'pt-PT' %}Hora{% else %}Time{% endif %}" data-required="true" class="input-short time">
                            <option value="" >{% if lang == 'pt-PT' %}Hora{% else %}Time{% endif %}</option>
                            <option value="00:00">00:00</option>
                            <option value="00:30">00:30</option>
                            <option value="01:00">01:00</option>
                            <option value="01:30">01:30</option>
                            <option value="02:00">02:00</option>
                            <option value="02:30">02:30</option>
                            <option value="03:00">03:00</option>
                            <option value="03:30">03:30</option>
                            <option value="04:00">04:00</option>
                            <option value="04:30">04:30</option>
                            <option value="05:00">05:00</option>
                            <option value="05:30">05:30</option>
                            <option value="06:00">06:00</option>
                            <option value="06:30">06:30</option>
                            <option value="07:00">07:00</option>
                            <option value="07:30">07:30</option>
                            <option value="08:00">08:00</option>
                            <option value="08:30">08:30</option>
                            <option value="09:00">09:00</option>
                            <option value="09:30">09:30</option>
                            <option value="10:00">10:00</option>
                            <option value="10:30">10:30</option>
                            <option value="11:00">11:00</option>
                            <option value="11:30">11:30</option>
                            <option value="12:00">12:00</option>
                            <option value="12:30">12:30</option>
                            <option value="13:00">13:00</option>
                            <option value="13:30">13:30</option>
                            <option value="14:00">14:00</option>
                            <option value="14:30">14:30</option>
                            <option value="15:00">15:00</option>
                            <option value="15:30">15:30</option>
                            <option value="16:00">16:00</option>
                            <option value="16:30">16:30</option>
                            <option value="17:00">17:00</option>
                            <option value="17:30">17:30</option>
                            <option value="18:00">18:00</option>
                            <option value="18:30">18:30</option>
                            <option value="19:00">19:00</option>
                            <option value="19:30">19:30</option>
                            <option value="20:00">20:00</option>
                            <option value="20:30">20:30</option>
                            <option value="21:00">21:00</option>
                            <option value="21:30">21:30</option>
                            <option value="22:00">22:00</option>
                            <option value="22:30">22:30</option>
                            <option value="23:00">23:00</option>
                            <option value="23:30">23:30</option>
                        </select>
                            <input title="Data de devolução" name="date_devolucao" id="date_devolucao" data-placeholder="{% if lang == 'pt-PT' %}Data de devolução{% else %}Return date{% endif %}" data-required="true" type="text" placeholder="{% if lang == 'pt-PT' %}Data de devolução{% else %}Return date{% endif %}" class="text input date"   />
                            
                            <select data-required="true" name="time_devolucao" class="input-short time" data-placeholder="{% if lang == 'pt-PT' %}Hora{% else %}Time{% endif %}" placeholder="{% if lang == 'pt-PT' %}Hora{% else %}Time{% endif %}" data-required="true">
                                <option value="" >{% if lang == 'pt-PT' %}Hora{% else %}Time{% endif %}</option>    
                                <option value="00:00">00:00</option>
                                <option value="00:30">00:30</option>
                                <option value="01:00">01:00</option>
                                <option value="01:30">01:30</option>
                                <option value="02:00">02:00</option>
                                <option value="02:30">02:30</option>
                                <option value="03:00">03:00</option>
                                <option value="03:30">03:30</option>
                                <option value="04:00">04:00</option>
                                <option value="04:30">04:30</option>
                                <option value="05:00">05:00</option>
                                <option value="05:30">05:30</option>
                                <option value="06:00">06:00</option>
                                <option value="06:30">06:30</option>
                                <option value="07:00">07:00</option>
                                <option value="07:30">07:30</option>
                                <option value="08:00">08:00</option>
                                <option value="08:30">08:30</option>
                                <option value="09:00">09:00</option>
                                <option value="09:30">09:30</option>
                                <option value="10:00">10:00</option>
                                <option value="10:30">10:30</option>
                                <option value="11:00">11:00</option>
                                <option value="11:30">11:30</option>
                                <option value="12:00">12:00</option>
                                <option value="12:30">12:30</option>
                                <option value="13:00">13:00</option>
                                <option value="13:30">13:30</option>
                                <option value="14:00">14:00</option>
                                <option value="14:30">14:30</option>
                                <option value="15:00">15:00</option>
                                <option value="15:30">15:30</option>
                                <option value="16:00">16:00</option>
                                <option value="16:30">16:30</option>
                                <option value="17:00">17:00</option>
                                <option value="17:30">17:30</option>
                                <option value="18:00">18:00</option>
                                <option value="18:30">18:30</option>
                                <option value="19:00">19:00</option>
                                <option value="19:30">19:30</option>
                                <option value="20:00">20:00</option>
                                <option value="20:30">20:30</option>
                                <option value="21:00">21:00</option>
                                <option value="21:30">21:30</option>
                                <option value="22:00">22:00</option>
                                <option value="22:30">22:30</option>
                                <option value="23:00">23:00</option>
                                <option value="23:30">23:30</option>
                            </select>
                            <div class="terms">
                                <input name="checkbox" type="checkbox" value="1" class="checkbox" data-required="true" data-placeholder="{% if lang == 'pt-PT' %}Aceito as condições gerais de aluguer{% else %}I accept the rental general conditions{% endif %}" placeholder="{% if lang == 'pt-PT' %}Aceito as condições gerais de aluguer{% else %}I accept the rental general conditions{% endif %}" />
                                <label for="privacy" class="label">
                                    <a class="linkpp privacy-policy" href="javascript:void(0)">{% if lang == 'pt-PT' %}Aceito a política de privacidade{% else %}I accept the Privacy Policy{% endif %} </a> 
                                    </label>
                            </div>
                            <div class="terms">
                                <input name="checkbox" type="checkbox" value="1" class="checkbox" data-required="true" data-placeholder="{% if lang == 'pt-PT' %}Aceito as condições gerais de aluguer{% else %}I accept the rental general conditions{% endif %}" placeholder="{% if lang == 'pt-PT' %}Aceito as condições gerais de aluguer{% else %}I accept the rental general conditions{% endif %}" />
                                <label for="privacy" class="label">
                                    <a class="linkpp condicoes-aluguer" href="javascript:void(0)">{% if lang == 'pt-PT' %}Aceito as condições gerais de aluguer{% else %}I accept the rental general conditions{% endif %}</a> 
                                </label>
                            </div>
                            <input type="submit" class="button" value="{% if lang == 'pt-PT' %}RESERVAR{% else %}book{% endif %}" class="button btn-submit" onclick="enviar_form(4, '{{lang}}');" />
                        </form>
                    <small style="padding-top:10px;">*{{'required'|trans}}</small>
                </div>
                <!-- end fillform -->
            </div>
            <!-- end rightcol -->
        </div>
        <!-- end tab content -->
    </div>
    <!-- end tab2 -->
</div>
<!-- end container -->
{% endblock %}