<div class="container-fluid clearfix">
	<!-- start box -->
    <div class="box">
    	<!-- start title bar -->
        <div class="title-bar clearfix">
        	<!-- start breadcrumb -->
            <div class="breadcrumb clearfix">
            	<ul>   
                	<li><a href="{{rooturl}}" title="{{'inicio'|trans}}">{{'inicio'|trans}}</a></li>
                    <li>{{'contacto'|trans|capitalize}}</li>
                </ul>
            </div>
            <!-- end breadcrumb -->
            <h3 class="heading2">{{'contacto'|trans|capitalize}}</h3>
        </div>
        <!-- end title bar -->
    </div>
    <!-- end box -->
    <!-- start banner2 -->
    <div class="banner banner2">
        	
        <div class="overlay clearfix"></div>
        <!-- start box -->
        <div class="box">
        	<!-- start caption -->
            <div class="caption clearfix">
            	<h4>{{'contact-us'|trans|capitalize}}</h4>
                <!-- start contact form -->
                <div class="contact-form clearfix">
                    {{'contact-metrorent'|makeform|raw }}
                    <small>*{{'required'|trans}}</small>
                </div>
                <!-- end contact form -->
                <!-- start contact info2 -->
                <div class="contact-info2 clearfix">
                	<!-- start common -->
                    <div class="common clearfix">
                    	<strong>{{'telefone'|trans|capitalize}}</strong>
                        <big>+351 229 551 051</big>
                        <p>{{'custo-de-chamada'|trans}}</p>
                    </div>
                    <!-- end common -->
                    <!-- start common -->
                    <div class="common clearfix">
                    	<strong>{{'atendimento'|trans}}</strong>
                    	<p>{{'business-hours'|trans}}</p>
                    </div>
                    <!-- end common -->
                    <!-- start common -->
                    <div class="common clearfix">
                    	<strong>{{'moradas'|trans}}</strong>
                    	<p>Senhora da Hora <span> Porto </span> <span>Santa Maria da Feira</span></p>
                    </div>
                    <!-- end common -->
                </div>
                <!-- end contact info2 -->
            </div>
            <!-- end caption -->
        </div>
        <!-- end box -->
    </div>
    <!-- end banner2 -->
</div>