<div class="container-fluid clearfix">
	<!-- start box -->
    <div class="box">
    	<!-- start title bar -->
        <div class="title-bar clearfix">
        	<!-- start breadcrumb -->
            <div class="breadcrumb clearfix">
            	<ul>   
                	<li><a href="{{rooturl}}" title="{{'inicio'|trans}}">{{'inicio'|trans}}</a></li>
                    <li>{{'a-metrorent'|trans}}</li>
                </ul>
            </div>
            <!-- end breadcrumb -->
            <h3 class="heading2">{{'a-metrorent'|trans}}</h3>
        </div>
        <!-- end title bar -->
    </div>
    <!-- end box -->
    <!-- start banner -->
    <div class="banner">
        <div class="overlay clearfix"></div>
        <!-- start box -->
        <div class="box">
        	<!-- start caption -->
            <div class="caption clearfix">
                <div class="inline-edit" id="text-metro-sobre" data-keyword="metro-sobre">
                    {{'metro-sobre'|trans|raw}}
                </div>
                <a href="{{rooturl}}contacto-em-senhora-da-hora-porto-santa-maria-da-feira" title="{{'enviar-contacto'|trans|upper}}" class="button"><span>{{'enviar-contacto'|trans|upper}}</span></a>
            </div>
            <!-- end caption -->
        </div>
        <!-- end box -->
    </div>
    <!-- end banner -->
</div>