<div class="container-fluid clearfix">
	<!-- start box -->
    <div class="box">
    	<!-- start title bar -->
        <div class="title-bar clearfix">
        	<!-- start breadcrumb -->
            <div class="breadcrumb clearfix">
            	<ul>   
                	<li><a href="{{rooturl}}" title="{{'inicio'|trans|capitalize}}">{{'inicio'|trans|capitalize}}</a></li>
                    <li>{{'parcerias'|trans|capitalize}}</li>
                </ul>
            </div>
            <!-- end breadcrumb -->
            <h3 class="heading2">{{'parcerias'|trans|capitalize}}</h3>
        </div>
        <!-- end title bar -->
    </div>
    <!-- end box -->
    <!-- start banner3 -->
    <div class="banner banner3">
        <div class="overlay clearfix"></div>
        <!-- start box -->
        <div class="box">
        	<!-- start caption -->
            <div class="caption clearfix" style="float:left;">
            	<div class="inline-edit" id="text-parcerias" data-keyword="parcerias-text">
            	    {{'parcerias-text'|trans|raw}}
            	</div>
                <a href="{{rooturl}}contacto-em-senhora-da-hora-porto-santa-maria-da-feira" title="{{'enviar-contacto'|trans|upper}}" class="button"><span>{{'enviar-contacto'|trans|upper}}</span></a>
            </div>
            <!-- end caption -->
        </div>
        <!-- end box -->
    </div>
    <div class="parcerias">
        <a href="http://www.bnapartments.com/pt/Menu/Home.aspx" target="_black" title="BNApartments"><img src="{{rooturl}}assets/frontend/images/parcerias/bn.png"></a>
        <a href="http://www.nasamotor.pt/" title="Nasamotor" target="_black"><img src="{{rooturl}}assets/frontend/images/parcerias/mercedes.png"></a>
        <a href="http://www.feelporto.com/" title="FeelPorto" target="_black"><img src="{{rooturl}}assets/frontend/images/parcerias/porto.png"></a>
        <a href="http://www.boavistaseguros.pt/" title="Boavista Seguros" target="_black"><img src="{{rooturl}}assets/frontend/images/parcerias/boavista.png"></a>
        <a href="http://www.otima.pt/" title="Otima Smart" target="_black"><img src="{{rooturl}}assets/frontend/images/parcerias/smart-otima.png"></a>
        <a href="http://www.auto-maran.pt/" title="Auto-Maran VW" target="_black"><img src="{{rooturl}}assets/frontend/images/parcerias/auto-maran.png"></a>
        <a href="http://www.the-yeatman-hotel.com/pt/" title="The Yeatman" target="_black"><img src="{{rooturl}}assets/frontend/images/parcerias/yeatman.png"></a>
        <a href="http://www.ipoporto.pt/" title="IPO Porto" target="_black"><img src="{{rooturl}}assets/frontend/images/parcerias/iporto.png"></a>
        <a href="http://www.vodafone.pt/" title="Vodafone" target="_black"><img src="{{rooturl}}assets/frontend/images/parcerias/vodafone.png"></a>
        <a href="http://www.hotelportopalacio.com" title="Porto Palácio" target="_black"><img src="{{rooturl}}assets/frontend/images/parcerias/porta-palacio.png"></a>
        <a href="https://www.santandertotta.pt" title="Santander Totta" target="_black"><img src="{{rooturl}}assets/frontend/images/parcerias/santander.png"></a>
    </div>
    <!-- end banner3 -->
</div>