@import url("fonts.css");
/*  CSS definations for Metrorent  */
/*-------------------------------------------------------------------------------------------

INDEX:

0. RESET

1. SETUP
	1.1 Defaults
	1.2 Common Tages

2. SITE STRUCTURE & APPEARANCE
	2.1 Header
		2.1.1 Logo
		2.1.2 Contact Info
		2.1.3 Navigation
	2.2 Showcase
		2.2.1 Pagination
	2.3 Container
		2.3.1 Tilte Bar
		2.3.2 Breadcrumb
		2.3.3 Widget
		2.3.4 Feature
		2.3.5 Product Info
		2.3.6 Tab
		2.3.7 Fillform
		2.3.8 Banner
		2.3.9 Contact Form 
		2.3.10 Subnav
		2.3.11 Slider
	2.4 Footer 

-------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------*/
/* 0. RESET */
/*-------------------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
	outline:none;
}

/*-------------------------------------------------------------------------------------------*/
/* 1. SETUP */
/*-------------------------------------------------------------------------------------------*/
/* 1.1 Defaults */
h1, h2, h3, h4, h5, h6, strong {
	font-weight:bold;
}
i, em { 
	font-style:italic; 
}
.left {
	float:left;
}
.right {
	float:right;
}
.alignleft{
	text-align:left;	
}
.alignright{
	text-align:right;	
}
.aligncenter{
	text-align:center;	
}
.clear  {
	clear:both;
	line-height:1px;
	height:1px;
}
.clearfix:before, .clearfix:after { 
	display: table; content: " "; 
}
.clearfix:after { 
	clear: both; 
}
textarea {
	overflow:auto;
	font-family: 'corposdemregular';
}
a { 
	color:#333;
	text-decoration:none;
}
a:hover {
	color:#000;
}
address {
	font-style:normal;
}

/* 1.2 Common Tags */
.heading {
	color:#FFFFFF;
	font-size:96px;
	font-weight:normal;
}
.heading span {
	margin:12px 0 88px 0;
	display:block;
	color:#999;
	font-size:21px;
	font-style:italic;
	font-weight:normal;
}
.heading2 {
	color:#898989;
	font-size:30px;
	font-weight:normal;
}
.input,
.textarea {
	background:#fff;
	border:none;
	width:237px;
	height:30px;
	line-height:30px;
	padding:5px 16px;
	margin-bottom:19px;
	color:#333;
	font-size:18px;
	font-family: 'corposregular';
}
.textarea {
	min-height:116px;
	line-height:normal;
	padding:11px 16px 5px 16px;
	margin-bottom:25px;
	resize:vertical;
}
.button {
	background:url(../images/bg_button.png) left top repeat-x;
	border:1px solid #5bab47;
	border-top-color:#2d7d19;
	height:44px;
	line-height:44px;
	padding:0 15px 0 20px;
	display:inline-block;
	color:#fff;
	font-size:18px;
	font-weight:bold;
	cursor:pointer;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	behavior:url(PIE.htc);
	position:relative;
}
.button span {
	background:url(../images/ico_arrow.png) right center no-repeat;
	display:inline-block;
	padding-right:38px;
}
.button:hover {
	background-position:left bottom;
	color:#fff;
}
.style-select {
	background:#ebebeb;
	width:270px;
	height:40px;
	line-height:40px;
	margin-bottom: 10px;
	position:relative;
	color: #9F9494;
	padding: 5px 16px;
	font-size: 18px;
	font-family: 'corposregular';
	border: none;

}

.field-date label{
	float: left;
	margin-bottom: 7px;
	display: block;
}
.date{
	width: 163px;
	float: left;
	color: #000;
	font-size: 18px;
	font-family: 'corposregular';
}
.time{
	width: 68px;
	float: left;
	height:40px;
	border: none;
	background-color: #ebebeb;
	margin-left: 5px;
	margin-bottom: 10px;
}


.style-select option{
	font:inherit;
	display: block;
	white-space: pre;
	min-height: 1.2em;
}

span.select {
	background:url(../images/bg_select.png) no-repeat right top;
	width:100%;
	height:40px;
	line-height:40px;
	float:left;
	cursor:default;
	font-size:18px;
	color:#333;
	text-align:left;
	text-indent:15px;
	position:absolute;
	left:0;
	bottom:0;
	z-index:1;
}
.overlay {
	background:url(../images/bg_overlay.png) repeat;
	width:50%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
}
.parcerias {
	float:left;
	margin-left: 54px;
}
#index-slick-1 {
	width: 349px;
}
#index-slick-2 {
	width: 349px;
}
.passenger-ul {
	width: 1115px;
}
.comercial-ul {
	width: 1115px;
}
.metro-next {
	background: url(../images/metro-next.jpg) no-repeat 3px top;
    width: 31px;
    height: 31px;
    position: absolute;
    margin-top: -8px;
       margin-left: 643px;

}
.metro-prev {
	background: url(../images/metro-prev.jpg) no-repeat 3px top;
    width: 31px;
    height: 31px;
    position: absolute;
    margin-left: -28px;
    margin-top: -8px;

}
.metro-next3 {
	background: url(../images/metro-next.jpg) no-repeat 3px top;
    width: 31px;
    height: 31px;
    position: absolute;
    margin-top: -8px;
       margin-left: 0px;

}
.metro-prev3 {
	background: url(../images/metro-prev.jpg) no-repeat 3px top;
    width: 31px;
    height: 31px;
    position: absolute;
    margin-left: -668px;
    margin-top: -8px;

}
.metro-next2 {
	background: url(../images/metro-next2.jpg) no-repeat 3px top;
    width: 31px;
    height: 31px;
    position: absolute;
     margin-top: -50px;
    margin-left: 1115px;
}


.metro-prev2 {
	background: url(../images/metro-prev2.jpg) no-repeat 3px top;
    width: 31px;
    height: 31px;
    position: absolute;
    margin-left: -25px;
    margin-top: -50px;

}
.left-tras{
	position: absolute;
	width: 30px;
	height: 30px;
	background-color: whitesmoke;
    margin-top: -10px;
    opacity: -1;
    opacity: 0.875;
}
.right-tras{
	position: absolute;
	width: 30px;
	height: 30px;
	height: 30px;
    margin-left: 610px;
    margin-top: -10px;
    background-color: whitesmoke;
    opacity: 0.875;
}
.left-tras2{
	position: absolute;
	width: 30px;
	height: 30px;
	background-color: whitesmoke;
    margin-top: -10px;
    opacity: -1;
    opacity: 0.875;
}
.right-tras2{
	position: absolute;
	width: 30px;
	height: 30px;
	height: 30px;
    margin-left: 610px;
    margin-top: -10px;
    background-color: whitesmoke;
    opacity: 0.875;
}
.left-tras3{
	position: absolute;
    width: 30px;
    height: 30px;
    background-color: #EBEBEB;
    margin-top: -52px;
    opacity: -1;
    opacity: 0.875;
}
.right-tras3{
	position: absolute;
    width: 30px;
    height: 30px;
    height: 30px;
    margin-left: 1086px;
    margin-top: -54px;
    background-color: #EBEBEB;
    opacity: 0.875;
}
.left-tras4{
	position: absolute;
    width: 30px;
    height: 30px;
    background-color: #EBEBEB;
    margin-top: -52px;
    opacity: -1;
    opacity: 0.875;;
}
.right-tras4{
	position: absolute;
    width: 30px;
    height: 30px;
    height: 30px;
    margin-left: 1086px;
    margin-top: -54px;
    background-color: #EBEBEB;
    opacity: 0.875;
}

/*-------------------------------------------------------------------------------------------*/
/* 2. SITE STRUCTURE & APPEARANCE */
/*-------------------------------------------------------------------------------------------*/
body {
	background:#f5f5f5;
	font-family: 'corposdemregular';
	font-size:15px;
	color:#333;
}
.box {
	width:1170px;
	margin:0 auto;
}

/* 2.1 Header */
.header {
	padding:24px 0 13px 0;
}
/* 2.1.1 Logo */
.logo {
	float:left;
	padding-left:14px;
}
.header-right {
	float:right;
}
/* 2.1.2 Contact Info */
.contact-info {
	padding-top:4px;
	margin-bottom:30px;
}
.contact-info strong {
	background:url(../images/ico_phone.png) right 2px no-repeat;
	padding-right:43px;
	float:left;
	font-size:15px;
	margin-left: 121px;	
}
.contact-info strong samp {
	margin-left:25px;
}
.contact-info strong span {
	display:block;
	margin-top:5px;
	color:#818181;
	font-size:11px;
}
/* 2.1.3 Navigation */
.navigation ul {
	float:right;
}
.navigation li {
	float:left;
	margin-left:32px;
}
.navigation li a {
	color:#2A8B21;
	font-size:18px;
}
.navigation li a:hover,
.navigation li.active a {
	color:#000;
}

/* 2.2 Showcase */
.box-slide {
	height: 100%;
	width: 100%;
	position:relative;
}

.box-slide .button{
	position: absolute;
	top:50%;
	margin-left: 50%;
	left: -96px;
}

/* 2.2.1 Pagination */
.slick-dots {
	width: 123px !important;
	height:13px;
	margin-left:-55px;
	text-align:center;
	position:absolute;
	left:50%;
	bottom:25px !important;
	z-index: 9999;
}

.slick-dots li {
	background:url(../images/sprite_pagination.png) left top no-repeat;
	width:15px !important;
	height:13px !important;
	display:inline-block;
	text-indent:-9999px;
	float: left;
	margin-left:12px;
	z-index: 9999;
}
.slick-dots li:first-child {
	margin-left:0;
}
.slick-dots li:hover,
.slick-dots li.slick-active {
	background-position:left bottom;
}

/* 2.3 Container */
.container {
	max-width: 1349px;
	min-width: 1349px;
	margin: 0 auto;
}
.leftcol {
	width:66.66%;
	float:left;
	background-color: #f5f5f5;
}
.rightcol {
	background:#fff;
	width:33.33%;
	float:right;
}
.home .leftcol{
	min-width: 66.66%;
}

.home .rightcol{
	min-width: 33.33%;
	float: left;
}
/* 2.3.1 Tilte Bar */
.title-bar {
	margin-bottom:18px;
}
/* 2.3.2 Breadcrumb */
.breadcrumb {
	float:right;
	padding:6px 3px 0 0;
}
.breadcrumb li {
	background:url(../images/divider.png) no-repeat left 2px;
	float:left;
	padding-left:16px;
	margin-left:9px;
	color:#2c8b24;
	font-size:12px;
}
.breadcrumb li:first-child {
	background:none;
}
.breadcrumb li a {
	color:#666;
}
.breadcrumb li a:hover {
	color:#2c8b24;
}
/* 2.3.3 Widget */
.widget {
	background:url(../images/img_widget.jpg) center top no-repeat;
	height:602px;
	padding-top:90px;
	text-align:center;
	-webkit-background-size:cover;
	-khtml-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	behavior:url(PIE.htc);
	position:relative;
}
.widget ul {
	width:780px;
	margin:0 auto 55px auto;
}
.widget li {
	width:215px;
	float:left;
	margin-left:60px;
}
.widget li:first-child {
	margin-left:0;
}
.widget li .icon {
	margin-bottom:20px;
}
.widget li p {
	line-height:24px;
	color:#999;
	font-size:20px;
}
/* 2.3.4 Feature */
.feature{
	min-width: 1349px;
}
.feature .col {
	width:33.33%;
	float:left;
	position:relative;
}
.feature .col img {
	width:100%;
	height:100%;
}
.feature .col .caption {
	width:100%;
	padding-top:280px;
	position:absolute;
	top:0;
	z-index:99;
}
.feature .col .caption-in {
	padding:0 50px;
}
.feature .col .heading {
	font-size:76px;
}
.feature .col .heading span {
	line-height:24px;
	color:#fff;
	font-size:20px;
}
.feature .col .heading samp {
	display:block;
}
.feature .col.second .caption {
	text-align:center;
}
.feature .col.second .caption-in {
	padding:0;
}
.feature .overlay {
	height: 100%;
	left:0;
	width: 100%;
}

/* 2.3.5 Product Info */
.product-info  {
	min-width: 66.66%;
	-webkit-background-size:cover;
	-khtml-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	behavior:url(PIE.htc);
	position:relative;
}
.product-info .overlay {
	height: 100%;
	right:0;
	left:auto;
}

/* 2.3.6 Tab */
.cars-home .subnav-cars{
	background-color: #f5f5f5 !important;
	max-height: 40px;
}
.box-height{
	max-height: 40px;
    padding-bottom: 40px;
    width: 700px;
}

.tab {
	background:#ebebeb;
	margin: 10px -356px 27px;
}
.tab .tabnav li {
	width:33.3%;
	float:left;
	text-align:center;
}
.tab .tabnav li a {
	background:#dfdfdf;
	height:40px;
	line-height:40px;
	display:block;
	color:#35981E;
	font-size:0.7em;
}
.tab .tabnav li a.active {
	background:#ebebeb;
}
.cars-home .list {
	padding:15px 30px;
}
.cars-home .list ul {
	width:100%;
	float:left;
}
.cars-home .list ul.first {
	margin-left:0;
}
.cars-home .list li {
	margin-bottom: 10px;
	float: left;
	width: 33.3%;
	
}
.cars-home .list li a {
	background:url(../images/arrow.png) left top no-repeat;
	padding-left:10px;
	text-transform:uppercase;
	font-size: 0.7em;
}
.cars-home .list li a:hover,
.cars-home .list li a.active {
	background-position:left -15px;
	color:#4d9c38;
}
.product-info .txtb {
	margin: 0 35px 0 45px;
	color:#fff;
}
.product-info .txtb h3 {
	width: 130px;
	margin-bottom: 20px;
	color:#fff;
	font-size: 35px;
	font-weight:normal;
}
.price {
	float:right;
	color:#fff;
	font-size:31px;
	margin-bottom: 10px;
}
.price samp {
	display:block;
	font-size:12px;
}
.price small {
	font-size:17px;
}
.product-info .txtb p {
	margin-bottom: 15px;
	line-height: 20px;
}
.product-info .txtb h4 {
	margin-bottom: 5px;
	text-transform:uppercase;
	font-size:17px;
}
.product-info .txtb li {
	margin-bottom: 1px;
	color:#fff;	
}
.tab-content{
	background-color: #FFF;
}
/* 2.3.7 Fillform */
.fillform {
	height: 1103px;
	padding:28px 0 27px 43px;
	color:#666;
	position: relative;
}
.fillform.home  {
	height: 33.33%;
}
.fillform form {
	width:270px;
}
.fillform h4 {
	margin-bottom: 25px;
	color:#35981E;
	font-size:32px;
	font-weight:normal;
	width: 300px;
}
.fillform .input {
	background:#ebebeb;
	margin-bottom: 10px;
}
.fillform .row {
	position:relative;
}
.fillform .row label {
	margin-bottom:7px;
	display:block;
}
.fillform .input2 {
	width:133px;
	float:left;
}
.fillform .row .ico {
	background:url(../images/ico_calendar.png) left top no-repeat;
	border:none;
	width:36px;
	height:40px;
	cursor:pointer;
	position:absolute;
	left:130px;
	top:23px;
}
.fillform .style-select2 {
	width:95px;
	float:right;
}
.fillform small, .contact-form small {
	padding-top: 10px;
	margin-bottom:22px;
	display:block;
	font-size:11px;
}
.contact-form small{
	padding-top: 15px;
	font-size: 14px;
}
.terms {
	margin-bottom: 16px;
	float: left;
}
.terms label a {
	text-decoration:underline;
	color:#666;
}
.terms [type="checkbox"] {
	margin:0 15px 0 0;
	float:left;
}
/* 2.3.8 Banner */
.banner,
.banner2,
.banner3 {
    width: 100%;
    height: 547px;
    position: relative;
}
.banner{
	background: url(../images/bg_banner.jpg) no-repeat center top;
	-webkit-background-size: cover;
    -khtml-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    behavior: url(PIE.htc);
}
.banner2 {
	background:url(../images/bg_banner2.jpg) no-repeat center top;
	-webkit-background-size: cover;
    -khtml-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    behavior: url(PIE.htc);
}
.banner3 {
	background:url(../images/bg_banner3.jpg) no-repeat center top;
	-webkit-background-size: cover;
    -khtml-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    behavior: url(PIE.htc);
}
.banner .box {
	position:relative;
	z-index:2;
}
.banner .caption {
	width:460px;
	color:#fff;
	padding-top:42px;
}
.banner .caption h4 {
	margin-bottom:25px;
	font-size:20px;
	font-weight:normal;
}
.banner .caption p {
	line-height:23px;
	margin-bottom:22px;
}
.banner .caption .button {
	font-size:13px;
}
.banner .caption .btn {
	margin-top:30px;
	display:inline-block;
	color:#fff;
	text-decoration:underline;
}
.banner .caption .btn:hover {
	text-decoration:none;
}
.banner2 .txtb {
	width:510px;
	padding-top:125px;
	margin:0 auto;
	text-align:center;
}
.banner2 .txtb h3 {
	margin-bottom:25px;
	color:#666;
	font-size:39px;
	font-weight:normal;
}
.banner2 .txtb p {
	line-height:23px;
	margin-bottom:23px;
}
.banner2 .box {
	margin-left:-585px;
	position:absolute;
	left:50%;
	top:0;
}
.banner2 .txtb .button {
	position:relative;
	z-index:9;
}
.banner2 .caption {
	width:560px;
}
.banner2 .caption h4 {
	margin-bottom:42px;
}
/* 2.3.9 Contact Form */
.contact-form {
	width:270px;
	float:left;
}
.contact-info2 {
	width:250px;
	float:right;
	font-size:14px;
}
.contact-info2 .common {
	margin:3px 0 9px 0;
}
.contact-info2 strong {
	margin-bottom:5px;
	display:block;
	font-size:19px;
}
.contact-info2 big {
	font-size:28px;
}
.contact-info2 p {
	line-height:18px !important;
}
.contact-info2 p span {
	display:block;
}
.tab2 .tabnav li {
	float:left;
	font-weight:normal;
	letter-spacing:-0.6px;
}
.tab2 .tabnav li a {
	padding:11px 20px 15px 14px;
	display:block;
	color:#35981e;
}
.tab2 .tabnav li a:hover,
.tab2 .tabnav li a.active {
	background:#ebebeb;
}
.tab2 .tabnav li a.active {
	font-weight:bold;
}
/* 2.3.10 Subnav */
.subnav {
	background:#ebebeb;
	padding:15px 0 15px 28px;
	height: 12px;
}
.subnav li {
	float:left;
	/*margin-left:36px;*/
	font-size:13px;
}
.subnav li:first-child {
	margin-left:0;
}
.subnav li a {
	background:url(../images/arrow.png) no-repeat left top;
	padding-left:15px;
	color:#333;
}
.subnav li a:hover,
.subnav li a.active {
	background-position:left -15px;
	color:#57a543;
}
/* 2.3.11 Slider */
.slider {
	height: 586px;
	margin-bottom:45px;
	position:relative;
}
.slider img {
	width:100%;
	height:100%;
}
.slider .thumbnail {
	width: 673px;
	float: right;
	padding-right: 60px;
	margin: 40px 0px;
}
.slider .thumbnail li {
	width:141px;
	height:88px;
	float:left;
	margin-left:16px;
}
.slider .thumbnail li a {
	display:block;
}
.product-info2 {
	width:660px;
	float:right;
	padding-right:60px;
	color:#5a5a5a;
}
.product-info2 h3 {
	font-size:37px;
	font-weight:normal;
}
.product-info2 .price {
	margin-bottom:28px;
	color:#5a5a5a;
}
.product-info2 p {
	line-height:23px;
	margin-bottom:28px;
}
.product-info2 h4 {
	margin-bottom:6px;
	font-size:18px;
	font-weight:normal;
}
.product-info2 .row {
	margin-bottom:30px;
}
.product-info2 .row ul {
	width: 100%;
	float: left;
	margin-right: 5px;

}
.product-info2 .row li {
	margin-bottom: 8px;
	float: left;
	width: 100%;
}

/* 2.4 Footer */
.footer {
	background:#ebebeb;
	padding:55px 0 22px 0 ;
}
.footer-left {
	width:600px;
	float:left;
}
.footer-left .txtb p {
	line-height:20px;
}
.footer-left .txtb p span {
	display:block;
	color:#666;
}
.footer-right {
	width:560px;
	float:right;
}
.footer-right .contact-info strong {
	background:none;
	padding-right:50px;
	font-size:20px;
}
.footer-right .contact-info strong samp {
	color:#388624;
}
.footer-right .contact-info strong span {
	font-size:15px;
}

/* Fonts */
.widget li p, .heading, .fillform h4, span.select, .button, .heading2, .banner .caption h4, .banner2 .txtb h3, .contact-info strong, .tab2 .tabnav li {
	font-family: 'corposregular';
}
.heading span, .product-info .txtb h3, .price, .product-info2 h3 {
	font-family:"Times New Roman", Times, serif;
}

html {
	overflow-x: hidden !important;
}

.modal-body{
	margin-top: 10px;
}

.ui-dialog-titlebar{
	background: url(../images/bg_button.png) left top repeat-x !important;
	padding-left: 15px !important;
	padding-right: 20px !important;
	padding-top: 0px !important;
	padding-bottom: 0px important;
}

.ui-dialog-title{
	font-family: 'corposregular';
	margin-bottom: 25px;
	color: #FFF;
	font-size: 23px;
	font-weight: normal;
	text-align: center;
	line-height: 32px;
}

.ui-dialog-buttonset button{
	font-family: 'corposregular';
	background: url(../images/bg_button.png) left top repeat-x !important;
	border: 1px solid #5bab47;
	border-top-color: #2d7d19;
	height: 44px;
	line-height: 44px;
	padding: 0 15px 0 20px;
	display: inline-block;
	color: #fff !important;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 2px;
}

.modal-body p{
	line-height: 22px;
	padding-bottom: 16px;
	text-align: center;
	color: #333;
	font-family: 'corposregular';}

#contato .modal-body p{
	line-height: 23px;
}

#politica .modal-body p{
	text-align: left;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{
	margin: 0 auto !important;
	width: 79px !important;
}
.pt-en {
	float: left;
	margin-left: 40px;
}
.langs a:hover{
	opacity: 0.5;
}
.ui-dialog .ui-dialog-title{
	width:92% !important;
}


